.findtournas {
    width: 100%;
    /* border: 2px solid red; */
    min-height: calc(100vh - var(--navheight));
    background: white;

    & .conta {
        height: 55px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

        & div {
            /* background-color: grey; */
            border-radius: 15px;
            cursor: pointer;
            width: 30%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-weight: 600;
            font-size: 1.2em;
            letter-spacing: 1px;
            border-bottom: 2px solid transparent;

            & span:nth-child(2) {
                margin-left: 10px;

            }
        }

        div.active {
            color: rgb(6, 115, 146);
            border-bottom: 2px solid rgb(6, 115, 146);
        }
    }

    .cards {
        width: 100%;
        min-height: calc(100vh - (var(--navheight) + 55px ));
        /* border: 2px solid yellow; */
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1rem;
        justify-items: center;
        padding: 0.6em 1em;
        position: relative;

        & .card {
            width: 240px;
            height: max-content;
            overflow: hidden;
            background: white;
            padding-bottom: 10px;
            border-radius: 8px;
            box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
            position: relative;


            & .img {
                display: flex;
                width: 240px;
                height: 240px;
                background: radial-gradient(transparent, grey);
                justify-content: center;
                position: relative;

              
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                >span {
                    position: absolute;
                    display: inline-block;
                    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent 100%);
                    width: 100%;
                    height: 70px;
                    bottom: 0px;
                    left: 0px;
                    font-size: 1.3rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 700;
                    line-height: 110px;
                    padding-left: 10px;
                    color: white;
                }
            }

            .organiser,
            .time {
                margin: 7px 0px;
                padding-left: 10px;
                color: rgb(58, 56, 56);
            }

            .time {
                font-size: 14px;
            }

            .controller {
                width: 100%;
                display: flex;

                & button {
                    letter-spacing: 1px;
                    font-size: 0.8em;
                    background: black;
                }

                .status {
                    background: rgb(22, 164, 221);
                    color: white;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    line-height: 30px;
                    padding: 0px 2px;
                    font-size: 0.7em;
                }
            }
        }
    }
}

.tournastat {
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    padding: 2em 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;

    & .img {
        border-radius: 40px;
        width: 80%;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);

        & img {
            width: 100%;
            border-radius: 40px;
        }
    }

    .info {
        width: 600px;
        padding: 10px 20px;
        margin-top: 20px;
        border: 1px solid rgb(181, 176, 176);
        color: #212529;
        border-radius: 2px;
        position: relative;
        z-index: 2;

        &::before {
            content: '';
            position: absolute;
            top: -6px;
            left: 0;
            height: 7px;
            width: 100%;
            background-color: var(--primarycolor);
            border-radius: 10px 10px 0 0;
            z-index: 0;
        }

        .upper {
            padding: 10px 0px;
            border-bottom: 2px solid rgb(176, 172, 172);


            & div:nth-child(1) {
                font-size: 3em;
                font-weight: 600;
                text-transform: uppercase;

                & span {
                    padding: 2px 10px;
                    font-size: 16px;
                    background: rgba(3, 93, 98, 0.955);
                    color: white;
                    border-radius: 15px;
                    /* line-height: 50px;
                    height: 40px; */
                }
            }

            div:nth-child(2) {
                font-size: 2em;
                font-weight: 500;
            }
        }

        .publicpost {
            padding: 10px 0px;

        }

        .btn {
            border: 1px solid rgb(196, 193, 193);
            border-radius: 10px;
            padding: 20px 0px;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }

    .contacts {
        margin-top: 10px;
        width: 100%;
        border: 1px solid rgb(196, 193, 193);
        border-radius: 10px;
        padding: 10px 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        & div:nth-child(1) {
            font-size: 2em;
            font-weight: 600;
        }

        & div:nth-child(2) {
            font-size: 1.4em;
            font-weight: 500;
        }

        .links {
            width: 100%;
            height: max-content;
            display: flex;
            padding-bottom: 5px;
            flex-wrap: wrap;
            justify-content: space-around;

            & a {
                /* background: red; */
                display: flex;
                padding: 3px 8px;
                letter-spacing: 1px;
                border-radius: 5px;
                text-decoration: none;
                text-transform: uppercase;
                color: rgb(14, 144, 196);
                font-weight: 600;
                cursor: pointer;
                margin-top: 10px;

                &:hover {
                    background-color: rgb(4, 60, 82);
                    color: white;
                }

                span {
                    margin: 0 3px;
                }
            }
        }

        p {
            font-weight: 500;
        }
    }
}


@media only screen and (max-width: 800px) {
    .findtournas {
        /* border: 2px solid red; */
        min-height: calc(100vh - var(--navheightmobile));

        & .conta {

            & div {
                width: 30%;
                height: 40px;
                line-height: 40px;
                font-weight: 500;
                font-size: .8em;
                letter-spacing: 0.5px;

                & span:nth-child(2) {
                    margin-left: 6px;
                }
            }
        }

        .cards {
            grid-template-columns: repeat(3, 1fr);
            min-height: calc(100vh - (var(--navheightmobile)) + 50px);

            & .card {
                transform: scale(.95);

                .controller {

                    & button {
                        letter-spacing: .5px;
                        font-size: 0.8em;
                    }

                    .status {
                        border-radius: 50px;
                        padding: 0px 3px;
                    }
                }

            }
        }
    }

    .tournastat {
        min-height: calc(100vh - var(--navheightmobile));
        padding: 1em 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;

        & .img {
            border-radius: 10px;
            width: 97%;

            & img {
                border-radius: 10px;
            }
        }

        .info {
            width: 98%;
            padding: 5px;
            margin-top: 15px;

            .upper {
                padding: 5px 0px;


                & div:nth-child(1) {
                    font-size: 2em;

                    & span {
                        font-size: 14px;
                    }
                }

                div:nth-child(2) {
                    font-size: 1.6em;
                }
            }
        }

        .contacts {
            padding: 5px;

            & div:nth-child(1) {
                font-size: 1.6em;
                font-weight: 600;
            }

            & div:nth-child(2) {
                font-size: 1.2em;
                font-weight: 500;
            }

            .links {

                & a {
                    padding: 2px 6px;
                    font-weight: 500;
                    margin-top: 5px;

                    & span:nth-child(2) {
                        font-size: 14px;
                    }

                    .ico {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .findtournas {
        .cards {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
            padding: 0.6em 1em;
        }
    }
}

@media only screen and (max-width: 500px) {
    .findtournas {
        .cards {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
            padding: 0.6em 1em;
        }
    }
}