.findtournas {
    width: 100%;
    /* border: 2px solid red; */
    min-height: calc(100vh - var(--navheight));
    background: white;

    & .conta {
        width: 100%;
        height: 55px;
        padding: 1px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
        /* border: 1px solid red; */

        &>div:nth-child(1) {
            border-radius: 10px;
            cursor: pointer;
            width: 65%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-weight: 600;
            font-size: 0.9em;
            letter-spacing: 1px;

            >div {
                width: 33%;
            }

            & span:nth-child(2) {
                margin-left: 10px;
            }

            i {
                font-size: 1.4em;
            }

            >div.active {
                border-radius: 5px;
                color: white;
                background: var(--primarycolor);
            }
        }

        >div:nth-child(2) {
            display: flex;
            align-items: center;

            .searchIcon {
                background-color: var(--primarycolor);
                color: white;
                width: 35px;
                height: auto;
                padding: 7px;
                margin-left: 5px;
                border-radius: 4px;
                cursor: pointer;
            }

            .searchIcon:hover {
                background-color: var(--hovercolor);
            }

        }


    }

    .cards {
        width: 100%;
        min-height: calc(100vh - (var(--navheight) + 55px));
        /* border: 2px solid yellow; */
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1rem;
        justify-items: center;
        padding: 0.6em 1em;
        position: relative;

        & .card {
            width: 240px;
            height: max-content;
            overflow: hidden;
            background: white;
            padding-bottom: 10px;
            border-radius: 8px;
            box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
            position: relative;
            transition: 0.2s;
            user-select: none;


            & .img {
                display: flex;
                width: 240px;
                width: 100%;
                height: 240px;
                overflow: hidden;
                background: radial-gradient(transparent, grey);
                justify-content: center;
                position: relative;


                & img {
                    width: 100%;
                    height: 100%;
                    transition: 0.3s;
                    object-fit: cover;
                }

                >span {
                    position: absolute;
                    display: inline-block;
                    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent 100%);
                    width: 100%;
                    height: 70px;
                    bottom: 0px;
                    left: 0px;
                    font-size: 1.1rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 700;
                    line-height: 110px;
                    padding-left: 10px;
                    color: white;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            h3 {
                /* border: 1px solid red; */
                font-size: 15px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .organiser,
            .time {
                margin: 7px 0px;
                padding-left: 10px;
                color: rgb(58, 56, 56);

                span {
                    font-size: 12px;
                    color: white;
                    display: inline-block;
                    text-transform: uppercase;
                    line-height: 22px;
                    padding: 0px 5px;
                    border-radius: 5px;
                    /* letter-spacing: 1px; */
                    background: var(--primarycolor);
                    float: right;
                    margin-right: 7px;
                }
            }

            .time {
                font-size: 13px;
            }

            .tournId {
                display: flex;
                align-items: center;
                font-size: 14px;
                margin-bottom: 5px;
                margin-left: 10px;


                svg {
                    margin-left: 6px;
                    padding: 4px;
                    transition: 0.2s;
                    cursor: pointer;
                    /* border-radius: 50%; */
                    border-radius: 5px;
                    height: 100%;
                }

                svg:hover {
                    background-color: rgba(172, 171, 171, 0.422);
                }

            }

            .controller {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 5px;

                & button {
                    letter-spacing: 1px;
                    font-size: 0.8em;
                    background: black;
                }

                .status {
                    background: rgb(3, 133, 184);
                    color: white;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    line-height: 30px;
                    padding: 0px 3px;
                    font-size: 0.7em;
                }
            }
        }

        .card:hover img {
            transform: scale(1.03);
        }
    }
}

.tournastat {
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    padding: 2em 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;

    & .img {
        border-radius: 40px;
        overflow: hidden;
        width: 80%;
        /* border: 1px solid red; */
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);

        & img {
            width: 100%;
            border-radius: 40px;
        }
    }

    .info {
        width: 600px;
        padding: 10px 20px;
        margin-top: 20px;
        border: 1px solid rgb(181, 176, 176);
        color: #212529;
        border-radius: 2px;
        position: relative;
        z-index: 2;
        border-radius: 10px;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            height: 7px;
            width: 100%;
            background-color: var(--primarycolor);
            z-index: 0;
        }

        .upper {
            padding: 10px 0px;
            border-bottom: 2px solid rgb(176, 172, 172);


            & div:nth-child(1) {
                font-size: 3em;
                font-weight: 600;
                text-transform: uppercase;

                & span {
                    padding: 2px 10px;
                    font-size: 16px;
                    background: rgba(3, 93, 98, 0.955);
                    color: white;
                    border-radius: 15px;
                    /* line-height: 50px;
                    height: 40px; */
                }
            }

            div:nth-child(2) {
                font-size: 2em;
                font-weight: 500;
            }
        }

        .publicpost {
            padding: 10px 0px;

        }

        .btn {
            margin-top: 5px;
            border: 1px solid rgb(196, 193, 193);
            border-radius: 10px;
            padding: 15px 0px;
            width: 100%;
            display: flex;
            justify-content: center;

            button {
                margin: 0 8px;
            }
        }
    }

    .contacts {
        margin-top: 10px;
        width: 100%;
        border: 1px solid rgb(196, 193, 193);
        border-radius: 10px;
        padding: 10px 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        & div:nth-child(1) {
            font-size: 2em;
            font-weight: 600;
        }

        & div:nth-child(2) {
            font-size: 1.4em;
            font-weight: 500;
        }

        .links {
            width: 100%;
            height: max-content;
            display: flex;
            padding-bottom: 5px;
            flex-wrap: wrap;
            justify-content: space-around;

            & a {
                /* background: red; */
                display: flex;
                align-items: center;
                padding: 3px 8px;
                letter-spacing: 1px;
                border-radius: 5px;
                text-decoration: none;
                text-transform: uppercase;
                color: var(--primarycolor);
                font-weight: 600;
                cursor: pointer;
                transition: 0.2s;
                margin-top: 10px;

                &:hover {
                    background-color: rgb(4, 60, 82);
                    color: white;
                }

                span {
                    margin: 0 3px;
                    display: flex;
                }
            }
        }

        p {
            font-weight: 500;
        }
    }
}


@media only screen and (max-width: 800px) {
    .findtournas {
        /* border: 2px solid red; */
        min-height: calc(100vh - var(--navheightmobile));

        & .conta {
            height: fit-content;
            gap: 5px 0;
            flex-wrap: wrap;

            &>div {
                /* border: 1px solid red; */
                width: 100%;
                /* background: rgba(6, 146, 6, 0.218); */
            }

            >div:nth-child(1) {
                width: 100%;
                height: 10px;
                line-height: 10px;
                height: 30px;
                line-height: 30px;
                font-weight: 500;
                font-size: .7em;
                margin-bottom: 8px;
                letter-spacing: 0.5px;

                div {
                    width: 33%;
                }

                & span:nth-child(2) {
                    margin-left: 6px;
                }

                i {
                    font-size: 1.2em;
                }
            }
        }

        .cards {
            grid-template-columns: repeat(3, 1fr);
            min-height: calc(100vh - (var(--navheightmobile)) + 50px);

            & .card {
                transform: scale(.95);

                .controller {

                    & button {
                        letter-spacing: .5px;
                        font-size: 0.8em;
                    }

                    .status {
                        border-radius: 5px;
                        padding: 0px 3px;
                    }
                }

            }
        }
    }

    .tournastat {
        min-height: calc(100vh - var(--navheightmobile));
        padding: 1em 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;

        & .img {
            border-radius: 10px;
            width: 97%;

            & img {
                border-radius: 10px;
            }
        }

        .info {
            width: 98%;
            padding: 5px;
            margin-top: 15px;

            .upper {
                padding: 5px 0px;


                & div:nth-child(1) {
                    font-size: 2em;

                    & span {
                        font-size: 14px;
                    }
                }

                div:nth-child(2) {
                    font-size: 1.6em;
                }
            }
        }

        .contacts {
            padding: 5px;

            & div:nth-child(1) {
                font-size: 1.6em;
                font-weight: 600;
            }

            & div:nth-child(2) {
                font-size: 1.2em;
                font-weight: 500;
            }

            .links {

                & a {
                    padding: 2px 6px;
                    font-weight: 500;
                    margin-top: 5px;

                    & span:nth-child(2) {
                        font-size: 14px;
                    }

                    .ico {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .findtournas {
        .cards {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            padding: 0.6em 1em;
        }
    }
}

@media only screen and (max-width: 500px) {
    .findtournas {
        .cards {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
            padding: 0.6em 1em;
        }
    }
}