.login {
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    background: url('https://res.cloudinary.com/dusxlxlvm/image/upload/v1726123055/battlefiesta/assets/icon/wall3_ocqeyk.webp');
    background-size: cover;
    display: flex;
    justify-content: center;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
        /* z-index: -2; */
    }
   

    .box {
        margin-top: 20px;
        padding-top: 10px;
        border-radius: 20px;
        position: relative;
        width: 420px;
        background: rgba(255, 255, 255, .4);
        background: white;
        height: 520px;
        /* height: max-content; */
        backdrop-filter: blur(8px);
        overflow: hidden;

        .logo {
            width: 100%;
            position: relative;
            height: 70px;
            text-align: center;

            .company {
                font-size: 4em;
                color: var(--primarycolor);

            }
        }

        .both {
            height: 370px;
            width: 200%;
            transition: 0.6s;
            position: relative;
            display: flex;

            p{
                color :green;
                text-align: center;
            }

            .singup {
                height: 100%;
                width: 100%;
                 padding: 0 10px;

                & form {
                    height: 100%;
                    width: 100%;
                   
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    display: none;
                }
            }

            .logine {
                height: 100%;
                width: 100%;
                /* border: 1px solid red; */

                & form {
                    height: 100%;
                    width: 100%;
                    padding: 0 10px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;


                    .forget {
                        width: 80%;
                        color: black;
                        font-weight: 700;
                        letter-spacing: 0.5px;
                        text-align: end;

                        span {
                            font-weight: 500;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.login .want {
    width: 100%;
    position: relative;
    text-align: center;
    height: 50px;
    /* border: 1px solid red; */
    padding: 0px 10px;

    .active {
        background: var(--primarycolor);
        border: 1px solid white;
        border-radius: 50px;
        color: white;
    }

    span {
        width: 50%;
        display: inline-block;
        cursor: pointer;
        height: 100%;
        line-height: 50px;
        text-align: center;
        font-size: 1.3em;
        font-weight: 600;
        color: rgb(58, 53, 53);
    }
}


.login .both .filled {
    /* border: 1px solid red; */
    border-radius: 40px;
    height: 40px;
    width: 80%;
}

.login .both button {
    letter-spacing: 1px;
    transition: 0.1s;
    text-align: center;
     width: 80%;
    /* border: 2px solid red; */
}


.login .logine .filled {
    color: rgb(43, 38, 38);
}


.login button {
  width: 80%;
  height: 42px;
  border-radius: 40px !important;
  font-weight: 600;

  box-shadow:
    0 10px 20px var(--primarycolor),
    inset 0 1px 1px rgba(255,255,255,0.35) ;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}
.login form button:nth-child(6){
    border: 1px solid rgba(47, 45, 45, 0.3) !important;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3) !important;
    width: 90% !important;
}

.login button:hover {
  transform: translateY(-1px);
  box-shadow:
    0 14px 28px var(--primarycolor);
}

.login button:active {
  transform: translateY(0);
  box-shadow:
    inset 0 3px 8px rgba(0,0,0,0.35);
}

/* =========================
   FORGOT / LINKS
========================= */

/* .login span {
  color: #e5e7eb;
  font-weight: 500;
}

.login span:hover {
  color: #fff;
} */

/* =========================
   OR DIVIDER
========================= */

.login .or {
  width: 100%;
  text-align: center;
  color: #e5e7eb;
  opacity: 0.85;
}

/* =========================
   GOOGLE BUTTON FIX
========================= */

.login .google-btn {
    border: 1px solid rgba(71, 70, 70, 0.677);
  width: 90% !important;
}


@media only screen and (max-width: 600px) {
    .login {
        min-height: calc(100vh - var(--navheightmobile));
        align-items: start;
        background-position-x: 20%;

        .box {
            margin-top: 20px;
            width: 90vw;
            height: 67vh;
            border-radius: 10px;
        }

        .both .filled {
            /* border: 1px solid red; */
            border-radius: 40px;
            height: 40px;
            width: 95%;
        }
    }
}

