.login {
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    background: url('https://res.cloudinary.com/dusxlxlvm/image/upload/v1726123055/battlefiesta/assets/icon/wall3_ocqeyk.webp');
    background-size: cover;
    display: flex;
    justify-content: center;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
        /* z-index: -2; */
    }
   

    .box {
        margin-top: 20px;
        border-radius: 20px;
        position: relative;
        width: 420px;
        background: rgba(255, 255, 255, .4);
        background: white;
        height: 520px;
        /* height: max-content; */
        backdrop-filter: blur(8px);
        overflow: hidden;

        .logo {
            width: 100%;
            position: relative;
            height: 70px;
            text-align: center;

            .company {
                font-size: 4em;
                color: var(--primarycolor);

            }
        }

        .both {
            height: 370px;
            width: 200%;
            transition: 0.6s;
            position: relative;
            display: flex;

            p{
                color :green;
                text-align: center;
            }

            .singup {
                height: 100%;
                width: 100%;

                & form {
                    height: 100%;
                    padding: 0 10px;
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }


            }

            .logine {
                height: 100%;
                width: 100%;

                & form {
                    height: 100%;
                    width: 100%;
                    padding: 0 10px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    svg{
                        width: 20px;
                        height: 20px;
                    }

                    .forget {
                        width: 80%;
                        /* border: 1px solid red; */
                        text-align: end;

                        span {
                            font-weight: 500;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.login .want {
    width: 100%;
    position: relative;
    text-align: center;
    height: 50px;
    /* border: 1px solid red; */
    padding: 0px 10px;

    .active {
        background: var(--primarycolor);
        border: 1px solid white;
        border-radius: 50px;
        color: white;
    }

    span {
        width: 50%;
        display: inline-block;
        cursor: pointer;
        height: 100%;
        line-height: 50px;
        text-align: center;
        font-size: 1.3em;
        font-weight: 600;
        color: rgb(58, 53, 53);
    }
}


.login .both .filled {
    /* border: 1px solid red; */
    border-radius: 40px;
    height: 40px;
    width: 80%;
}

.login .both button {
    letter-spacing: 1px;
    transition: 0.1s;
    text-align: center;
}


.login .logine .filled {
    color: rgb(43, 38, 38);
}

@media only screen and (max-width: 600px) {
    .login {
        min-height: calc(100vh - var(--navheightmobile));
        align-items: start;
        background-position-x: 20%;

        .box {
            margin-top: 20px;
            width: 80vw;
            height: 70vh;
        }
    }
}