.adminmembership {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;

    .inner {
        width: 100%;

        .controler {
            position: relative;
            padding: 5px 0px;

            .refreshe {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }

        .header {
            width: 100%;
            padding: 5px;
            background: rgb(2, 54, 58);
            color: white;
            text-transform: capitalize;
            letter-spacing: 0.5px;
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .body {
            width: 100%;
            text-align: start;

            div {
                border-radius: 10px;
                border: 0.5px solid rgb(4, 86, 145);
                margin: 10px 0px;
                display: flex;
                justify-content: space-between;
                padding: 5px 3px;
                background: #ecf0f3;
                box-shadow: 0 0 10px #fff, 5px 5px 10px #a7aaaf, -5px -5px 10px #fff;
            }
        }

        .header,
        .body {

            & span {
                display: inline-block;
                text-align: start;
                padding: 2px 0px;
                /* border: 1px solid red; */
            }

            & span:nth-child(1) {
                width: 50px;
                /* border: 1px solid red; */
            }

            & span:nth-child(2) {
                width: 320px;
                text-align: start;
                /* border: 1px solid red; */
            }

            & span:nth-child(3) {
                width: 120px;
            }

            & span:nth-child(4) {
                width: 50px;
                /* border: 1px solid red; */
            }

            & span:nth-child(5) {
                width: 50px;
                /* border: 1px solid red; */
            }

            & span:nth-child(6) {
                width: 80px;
                /* border: 1px solid red; */
                display: inline-flex;
                justify-content: space-around;

                i {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    cursor: pointer;
                    border-radius: 50%;
                    color: rgb(6, 93, 112);

                    &:last-child {
                        color: red;
                    }

                    &:hover {
                        background: rgba(133, 196, 192, 0.4);
                    }
                }
            }

            .status {
                border-radius: 10px;
                font-weight: 500;
            }

            .status.pending {
                background: rgba(221, 179, 100, 0.704);
                color: rgb(86, 56, 2);
            }

            .status.active {
                color: rgb(1, 59, 1);
                background-color: rgba(103, 222, 103, 0.648);
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .adminmembership {
        padding: 0 5px;

        .inner {
            font-size: 14px;


            .header {
                padding: 2px;
                letter-spacing: 0.1px;
                font-weight: 700;
                border-radius: 5px;
                margin-bottom: 8px;
                font-size: 12px;
            }

            .body {
               font-size: 11px;

                div {
                    margin: 5px 0px;
                    padding: 3px 0px;
                }
            }

            .header,
            .body {


                & span:nth-child(1) {
                    width: 30px;
                }

                & span:nth-child(2) {
                    width: 140px;
                }

                & span:nth-child(3) {
                    width: 80px;
                }

                & span:nth-child(4) {
                    width: 40px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(5) {
                    width: 40px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(6) {
                    width: 50px;
                }
            }
        }
    }
}