.adminmembership {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;

    .inner {
        width: 100%;

        .controler {
            position: relative;
            padding: 5px 0px;

            .refreshe {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }

        .status {
            display: inline-block;
            width: 60px;
            height: 20px;
            padding-left: 5px;
            /* padding: 8px 6xp; */
            border-radius: 2px 4px 4px 2px;
            border-left: 4px solid transparent;
            font-weight: 500;
        }

        .status.expired {
            background: rgba(221, 179, 100, 0.486);
            color: rgb(86, 56, 2);
            border-left: 4px solid rgb(86, 56, 2);
        }

        .status.active {
            background-color: rgba(118, 234, 118, 0.504);
            color: rgb(1, 59, 1);
            border-left: 4px solid rgb(1, 59, 1);
        }


    }
}

@media only screen and (max-width: 500px) {
    .adminmembership {
        padding: 0 5px;

        .inner {
            font-size: 14px;

            .controler {
                display: flex;
                justify-content: space-between;

                .refreshe {
                    position: relative;
                    top: 0%;
                    right: 0px;
                    transform: translateY(0%);
                }
            }


            .header {
                padding: 2px;
                letter-spacing: 0.1px;
                font-weight: 700;
                border-radius: 5px;
                margin-bottom: 8px;
                font-size: 12px;
            }

            .body {
                font-size: 11px;

                div {
                    border-radius: 4px;
                    margin: 5px 0px;
                    padding: 3px 0px;
                }
            }

            .header,
            .body {


                & span:nth-child(1) {
                    width: 30px;
                }

                & span:nth-child(2) {
                    width: 140px;
                }

                & span:nth-child(3) {
                    width: 80px;
                }

                & span:nth-child(4) {
                    width: 40px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(5) {
                    width: 40px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(6) {
                    width: 50px;
                }
            }

            .body {
                span {
                    text-align: center;
                }
            }
        }
    }
}