.conta.theme1 {
  background: url('../../../assets/back-des.webp');
  background-size: cover;

  h1,
  h2,h3 {
    color: whitesmoke;
    text-transform: capitalize;
    text-align: center;
    font-size: 4em;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 2em;
    font-weight: 1000;
    color: transparent;
    text-transform: uppercase;
    color: rgb(100, 6, 6);
    -webkit-text-stroke: 0.7px white;
  }
  h3{
    font-size: 1.7em;
  }

  table {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    border: collapse;

    & thead {
      background: rgba(0, 0, 0, 0.4);
      color: whitesmoke;

      & tr {

        & th {
          padding: 5px 3px;
          font-weight: 800;
          font-size: 1.2em;
          letter-spacing: 2px;
        }
      }
    }

    tbody {

      & tr {
        background: rgba(59, 2, 2, 0.595);
        color: whitesmoke;
        border-radius: 10px;
        margin: 40px 0px;

        & td {
          padding: 5px;
          font-size: 1.1em;
          font-weight: 600;
          border-radius: 10px 0px 10px 0px;
          box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.6);

          & img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 5px;
            margin-right: 10px;
          }

        }

        td:nth-child(2) {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .conta.theme1 {

    h1 {
      font-size: 1.5em;
      letter-spacing: 1.3px;
      font-weight: 500;
    }

    h2 {
      font-size: 1.1em;
      letter-spacing: 1.2px;
      -webkit-text-stroke: 0.2px white;
    }
    h3{
      font-size: 1em;
    }

    table {
      width: 100%;
      padding: 2px;

      & thead {

        & tr {

          & th {
            padding: 2px;
            font-weight: 600;
            font-size: .8em;
            letter-spacing: .2px;
          }
        }
      }

      tbody {

        & tr {

          & td {
            padding: 1px 5px;
            font-size: .8em;
            font-weight: 600;
            border-radius: 7px 0px 7px 0px;

            & img {
              width: 30px;
              height: 30px;
              margin-left: 0px;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}