.conta.theme3 {
    background: url('../../../assets/drop.webp');
    background-size: cover;

    h1,
    h2 {
        color: #033438c7;
        text-align: center;
        font-size: 4em;
        -webkit-text-stroke: 1px white;
    }

    h2 {
        font-size: 2em;
        color: #042d31ef;
        text-transform: uppercase;
        -webkit-text-stroke: 0px black;
    }

    table {
        width: 100%;
        padding: 5px 10px;
        text-align: center;
        border-collapse: separate;
        border-spacing: 4px 6px;

        & thead {

            & tr {

                & th {
                    background: #013135cb;
                    padding: 5px 3px;
                    font-weight: 800;
                    font-size: 1.1em;
                    letter-spacing: 2px;
                    border: 2px solid white;
                    border-radius: 10px;
                }
            }
        }

        tbody {

            & tr {

                & td {
                    padding: 5px;
                    font-size: 1.1em;
                    font-weight: 600;
                    border-radius: 10px 0px 25px 0px;


                    & img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-left: 5px;
                        margin-right: 10px;
                    }

                }

                td:nth-child(2) {
                    display: flex;
                    align-items: center;
                }

                td:nth-child(odd) {
                    background: linear-gradient(to bottom right, #0c7097c0, #013135);
                    color: white;
                    border: 2px solid white;
                }

                td:nth-child(even) {
                    background: rgba(255, 255, 255, 0.712);
                    border: 2px solid #013135;
                    color: #013135;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .conta.theme3 {

        h1 {
            font-size: 1.5em;
            letter-spacing: 1.2px;
            -webkit-text-stroke: .5px white;
        }

        h2 {
            font-size: 1.1em;
            letter-spacing: 1.2px;
        }

        table {
            width: 100%;
            padding: 1px 2px;
            border-spacing: 2px 3px;

            & thead {

                & tr {

                    & th {
                        padding: 0px 3px;
                        font-weight: 600;
                        font-size: 1em;
                        letter-spacing: 1px;
                        border-radius: 7px;
                    }
                }
            }

            tbody {

                & tr {

                    & td {
                        padding: 1px 5px;
                        font-size: .8em;
                        font-weight: 600;
                        border-radius: 10px 0px 15px 0px;


                        & img {
                            width: 30px;
                            height: 30px;
                            margin-left: 0px;
                            margin-right: 4px;
                        }

                    }
                }
            }
        }
    }
}