.conta.theme4 {
    background: url('https://res.cloudinary.com/dusxlxlvm/image/upload/v1717760858/battlefiesta/assets/grey--Mu-C4ll_eo06fj.webp');
    background-size: cover;

    h1,
    h2,h3 {
        color: whitesmoke;
        text-align: center;
        text-transform: capitalize;
        font-size: 4em;
        letter-spacing: 2px;
    }

    h2 {
        font-size: 2em;
        color: transparent;
        text-transform: uppercase;
        -webkit-text-stroke: 0.6px white;
    } 
    h3{
        font-size: 2.01em;
        
      }

    table {
        width: 100%;
        padding: 5px 10px;
        text-align: center;
        border-collapse: separate;
        border-spacing: 4px 8px;

        & thead {

            & tr {

                & th {
                    padding: 5px 3px;
                    font-weight: 800;
                    font-size: 1.2em;
                    letter-spacing: 2px;

                    &:nth-child(1){
                        width: 50px;
                      }
                      &:nth-child(3){
                        width: 50px;
                      }
                }
            }
        }

        tbody {

            & tr {
                color: whitesmoke;

                & td {
                    padding: 5px;
                    font-size: 1.1em;
                    font-weight: 600;
                    border-radius: 15px;


                    & img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-left: 5px;
                        margin-right: 10px;
                    }
                }

                td:nth-child(2) {
                    display: flex;
                    align-items: center;
                }

                td:nth-child(odd) {
                    background: linear-gradient(to bottom right, #4b494992, #1d1b1b);
                    color: white;
                    border: 1px solid white;
                }

                td:nth-child(even) {
                    background: rgba(255, 255, 255, 0.719);
                    border: 2px solid #222020;
                    color: #222020;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .conta.theme4 {

        h1 {
            font-size: 1.4em;
            letter-spacing: 1.2px;
          }
    
          h2 {
            font-size: 1.1em;
            letter-spacing: 1.2px;
          }

        table {
            width: 100%;
            padding: 1px 2px;
            border-spacing: 2px 3px;

            & thead {

                & tr {

                    & th {
                        padding: 0px 3px;
                        font-weight: 700;
                        font-size: .8em;
                        letter-spacing: .4px;
                    }
                }
            }

            tbody {

                & tr {

                    & td {
                        padding: 1px 3px;
                        font-size: .6em;
                        font-weight: 700;
                        border-radius: 10px;

                        & img {
                            width: 30px;
                            height: 30px;
                            margin-left: 0px;
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }
}