.unique {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    --imagewidth: 70px;
    background: url('../../../assets/dff.png');
    background-size: cover;
    padding: 10px 0;

    .main {
        padding: 20px 40px;
        width: 1080px;
        background: rgb(204, 197, 167);
        background: url('../../../assets/paper.png');
        background-size: cover;
        background-position: center;
        /* border: 1px solid red; */

        .top {
            width: 100%;
            /* border: 1px solid black; */
            display: flex;
            justify-content: space-around;
            padding: 10px 5px;
            margin-bottom: 20px;

            .card {
                width: 250px;
                border-radius: 5px;
                /* overflow: hidden; */
                position: relative;

                .upper {
                    width: 100%;
                    height: 30px;

                    span {
                        display: inline-block;
                        height: 100%;
                        line-height: 30px;
                    }

                    .position {
                        width: 40px;
                        background: brown;
                        color: white;
                        text-align: center;
                    }

                    .name {
                        padding-left: 5px;
                        background: yellow;
                        color: brown;
                        width: calc(100% - 40px);
                    }
                }

                .bottom {
                    display: flex;

                    .logo {
                        width: var(--imagewidth);
                        height: var(--imagewidth);
                        background: rgb(114, 53, 2);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            /* border-radius: 50%; */
                            width: 70%;
                            height: 70%;
                            object-fit: cover;
                        }
                    }

                    .stat {
                        width: calc(100% - var(--imagewidth));

                        .headerr {
                            span {
                                background: green;
                                color: white;
                            }
                        }

                        .statss {
                            span {
                                background: rgb(209, 207, 179);
                                color: black;
                            }
                        }

                        .headerr,
                        .statss {
                            /* border: 1px solid black; */
                            height: 50%;

                            span {
                                height: 100%;
                                display: inline-block;
                                text-align: center;
                                width: 20%;
                            }
                        }
                    }
                }
            }
            .card::before{
                content: '';
                position: absolute;
                left: -7%;
                bottom: -1%;
                width: 40px;
                height: 10px;
                rotate: 45deg;
                background: #edf0f3;
                /* background: red; */
            }
        }

        .bottomtable {
            width: 100%;
            display: flex;
            justify-content: space-around;

            .divider {
                width: 48%;

                .headere,
                .bodre {
                    max-width: 100%;
                    /* border: 1px solid red; */
                    display: flex;
                    align-items: center;

                    span {
                        display: inline-block;
                        text-align: center;
                        /* border: 1px solid red; */
                    }

                    span:nth-child(1) {
                        width: 50px;

                    }

                    span:nth-child(2) {
                        width: 280px;
                    }

                    span:nth-child(3) {
                        width: 30px;
                    }

                    span:nth-child(4) {
                        width: 30px;
                    }

                    span:nth-child(5) {
                        width: 30px;
                    }

                    span:nth-child(6) {
                        width: 30px;
                    }

                    span:nth-child(7) {
                        width: 30px;
                    }
                }

                .bodre {
                    --lineheigh:35px;
                    height: var(--lineheigh);
                    background: rgb(228, 22, 22);
                    color: white;
                    margin: 9px 0;

                    img {
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        margin-right: 5px;
                        margin-left: 12px;
                    }

                    span {
                        /* height: 100%;
                        line-height: var(--lineheigh); */
                    }

                    span:nth-child(1) {
                        background: green;
                        height: 100%;
                        line-height: var(--lineheigh);
                    }

                    span:nth-child(2) {
                        text-align: left;
                        display: flex;
                        align-items: center;
                    }


                    span:nth-child(3) {
                        border-left: 1px solid grey;
                    }

                    span:nth-child(4) {
                        border-left: 1px solid grey;
                    }

                    span:nth-child(5) {
                        border-left: 1px solid grey;
                    }

                    span:nth-child(6) {
                        border-left: 1px solid grey;
                       
                    }

                    span:nth-child(7) {
                        border-left: 1px solid grey;
                        background: rgb(236, 236, 176);
                        color: black;
                        height: 100%;
                        line-height: var(--lineheigh);
                    }
                }
            }
        }
    }
    .foterr{
        border: 1px solid red;
        width: 1100px;
        height: 150px;
        position: relative;

        img{
            width: 100%;
            height: 90%;
            object-fit: cover;
        }
        .orgname{
            position: absolute;
            top: 50%;
            left: 50%;
            color: rgba(0,0,0,0.8);
            transform: translate(-50%,-50%);
            text-align: center;

            i{
                font-size: 1.3em;
                font-weight: 700;
            }
            p{
                font-size: 3.6em;
                font-weight: 700;
            }
        }
    }
}