.modalwrapper {
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
   


    .modalbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: min-content;
        height: min-content;
        max-width: 98vw;
        max-height: 95vh;
        /* box-shadow: 0 10px 20px rgba(0,0,0,0.3); */
    }
}