.Dashboard {
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;

    & .controles {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding: 5px 10px;
        position: relative;
        min-height: 140px;
        /* border: 1px solid red; */

        .card {
            border-radius: 5px;
            box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
            width: 300px;
            min-height: 110px;
            /* height: max-content; */
            color: #212529;
            padding: 5px 10px;
            position: relative;

            &:nth-child(1) {
                &::before {
                    position: absolute;
                    content: '';
                    inset: 0;
                    background: url('https://res.cloudinary.com/dusxlxlvm/image/upload/v1725526409/accusoft/assets/preloader/fox_ajgfyv.webp');
                    background-size: 120px;
                    background-repeat: no-repeat;
                    background-position: -8px;
                    opacity: 0.2;
                    transform: scaleX(-1);
                }
            }

            >div {
                height: 25px;

                & span:nth-child(1) {
                    display: inline-block;
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    width: 160px;
                }

                & span:nth-child(3) {
                    font-weight: 500;
                    margin-left: 10px;
                    width: 160px;
                }
            }

            i {
                font-size: 5em;
                color: rgba(87, 87, 87, 0.308);
                pointer-events: none;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%) rotate(20deg);
            }

        }

        .operator {
            width: 300px;
            height: 100%;
            gap: 8px;
            display: flex;
            flex-direction: column;
            /* border: 1px solid red; */
            justify-content: space-around;
        }
    }

    .cards {
        width: 100%;
        height: 100%;
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1rem;
        justify-items: center;
        padding: 0.6em 1em;

        & .card {
            width: 240px;
            height: max-content;
            overflow: hidden;
            background: white;
            padding-bottom: 10px;
            border-radius: 8px;
            box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
            position: relative;

            & .img {
                display: flex;
                width: 240px;
                height: 240px;
                background: radial-gradient(transparent, grey);
                justify-content: center;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    transition: 0.3s;
                    object-fit: cover;
                    position: relative;

                }

                >span {
                    position: absolute;
                    display: inline-block;
                    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent 100%);
                    width: 100%;
                    height: 70px;
                    bottom: 0px;
                    left: 0px;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 700;
                    line-height: 110px;
                    padding-left: 10px;
                    color: white;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    /* border: 1px solid red; */
                }
            }

            h3 {

                span {
                    margin-right: 3px;
                    font-size: 12px;
                    color: white;
                    display: inline-block;
                    height: 22px;
                    line-height: 22px;
                    text-transform: uppercase;
                    padding: 0px 8px;
                    font-weight: 500;
                    border-radius: 50px;
                    letter-spacing: 0.2px;
                    background: var(--primarycolor);
                }
            }

            .status {
                position: absolute;
                top: 20px;
                transform: rotate(45deg);
                right: -70px;
                background: #1471af;
                color: white;
                width: 200px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: 0.5px;
                border-bottom-left-radius: 15px;
            }

            .status.ongoing {
                background: #038162;
            }

            .status.completed {
                background: #5f27cd;
            }

            .organiser,
            .time {
                margin: 7px 0px;
                padding-left: 10px;
                color: rgb(58, 56, 56);
            }

            .time {
                font-size: 14px;
                display: flex;
                justify-content: space-between;


            }

            .controller {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0px 10px;

                & button {
                    letter-spacing: 1px;
                    font-size: 0.8em;
                    transition: 0.2s;
                    background: black;
                }

                button:hover {
                    background: rgb(34, 33, 33);
                }

                .status {
                    background: rgb(22, 164, 221);
                    color: white;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    line-height: 30px;
                    padding: 0px 2px;
                    font-size: 0.7em;
                }

                .delete {
                    /* width: 30px; */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 1.8em;
                    padding: 2px;
                    /* height: 30px; */
                    cursor: pointer;

                    &:hover {
                        background: rgb(203, 199, 199);
                    }
                }

            }
        }

        .card:hover img {
            transform: scale(1.03);
        }
    }

    .loadmore {
        width: 150px;
        margin: 10px 0px;
    }

}


.dashboardbox {
    background: white;
    width: 600px;
    height: fit-content;
    border-radius: 15px 15px 5px 5px;
    overflow: hidden;
    background: url('https://res.cloudinary.com/dusxlxlvm/image/upload/v1717760858/battlefiesta/assets/formback3-B7itQDrI_f1svum.jpg');
    background-size: 120%;
    animation: ani 6s ease-in-out infinite alternate;

    & header {
        height: 70px;
        line-height: 70px;
        font-size: 2.7em;
        color: #212529;
        font-weight: 700;
        letter-spacing: 1px;
        padding-left: 15px;
        text-align: center;
        animation: ani 6s ease-in-out infinite alternate;
    }

    form {
        width: 100%;
        background: white;
        padding: 20px;
        padding-top: 1px;
        border-radius: 20px 20px 0 0;

        & section {
            margin-top: 20px;
        }
    }
}

@keyframes ani {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}


@media only screen and (max-width:1200px) {
    .Dashboard {

        .cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media only screen and (max-width:960px) {
    .Dashboard {

        .cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and (max-width:600px) {
    .Dashboard {

        & .controles {
            gap: 15px;

            .card {
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
                width: 95%;

                >div {
                    height: 25px;

                    & span:nth-child(1) {
                        display: inline-block;
                        font-weight: 700;
                        letter-spacing: 0.5px;
                        width: 160px;
                    }

                    & span:nth-child(3) {
                        font-weight: 500;
                        margin-left: 10px;
                        width: 160px;
                    }
                }

            }

            .operator {
                width: 95%;
                gap: 15px;
            }
        }

        .cards {
            min-height: calc(100vh - var(--navheightmobile));
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1.5rem;
        }
    }

    .dashboardbox {
        width: 80vw;

        & header {
            height: 50px;
            line-height: 50px;
            font-size: 1.8em;
            font-weight: 700;
            text-align: start;
        }

        form {
            padding: 10px;
            padding-bottom: 15px;

            & section {
                margin-top: 20px;
            }
        }
    }
}