.dashboardbox {
    background: white;
    width: 600px;
    height: fit-content;
    border-radius: 15px 15px 5px 5px;
    overflow: hidden;
    /* background: url('https://res.cloudinary.com/dusxlxlvm/image/upload/v1717760858/battlefiesta/assets/formback3-B7itQDrI_f1svum.jpg'); */
    background-size: 120%;
    animation: ani 6s ease-in-out infinite alternate;

    & header {
        height: 70px;
        line-height: 70px;
        font-size: 2.7em;
        color: #212529;
        font-weight: 700;
        letter-spacing: 1px;
        padding-left: 15px;
        text-align: center;
        animation: ani 6s ease-in-out infinite alternate;
    }

    form {
        width: 100%;
        background: white;
        padding: 20px;
        padding-top: 1px;
        border-radius: 20px 20px 0 0;

        & section {
            margin-top: 20px;
        }
    }
}

@keyframes ani {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@media only screen and (max-width:600px) {
    .dashboardbox {
        width: 91vw;

        & header {
            height: 50px;
            line-height: 50px;
            font-size: 1.8em;
            font-weight: 700;
            text-align: start;
        }

        form {
            padding: 10px;
            padding-bottom: 15px;

            & section {
                margin-top: 20px;
            }
        }
    }
}