@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate {
    0% {
        --angle: 0deg;
    }

    100% {
        --angle: 360deg;
    }
}

.profile {
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    position: relative;
    background: linear-gradient(to right top, #65dfc9, #0ba8c0);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;

    .splbtn {
        background: rgb(40, 37, 37);

        &:hover {
            background: rgb(61, 58, 58);
        }
    }

    .circle {
        position: absolute;
        width: 300px;
        height: 300px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: linear-gradient(to top right, pink, orange);
    }

    .circle1 {
        top: 45%;
        left: 15%;
        width: 300px;
        height: 300px;
    }

    .circle2 {
        top: 5%;
        right: 10%;
        background: linear-gradient(to top right, pink, rgb(21, 10, 233));
    }

    .menu {
        width: 900px;
        height: 50px;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;

        div {
            margin: 0px 10px;
            /* background: #0ba8c0; */
            cursor: pointer;
            padding: 5px 12px;
            letter-spacing: 0.7px;
            border-radius: 10px;

            span {
                margin-left: 7px;
                font-weight: 500;
            }

            i {
                font-weight: 700;
            }
        }

        div.active {
            background: linear-gradient(to right bottom,
                    rgba(255, 255, 255, 0.7),
                    rgba(255, 255, 255, 0.3));
            color: #0ba8c0;
        }
    }

    .materials {
        width: 900px;
        min-height: 500px;
        /* border: 1px solid red; */
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 30px;

        .glass {
            background: linear-gradient(to right bottom,
                    rgba(255, 255, 255, 0.7),
                    rgba(255, 255, 255, 0.2));
            padding: 10px 15px;
            border-radius: 10px;
            backdrop-filter: blur(15px);
        }

        h2 {
            width: 100%;
            text-transform: capitalize;
            color: #212529;
        }

        button {
            margin-top: 20px;
        }

        .input {
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .half {
                margin-top: 15px;
                width: 49%;
            }

            .full {
                margin-top: 15px;
                width: 100%;
            }
        }

        .profilepic {
            height: 370px;
            display: flex;
            flex-direction: column;
            grid-column: span 3;
            position: relative;

            .coverimg {
                margin: 8px 0px;
                position: relative;
                width: 100%;
                height: 170px;
                padding: 0px;

                >img {
                    background: linear-gradient(to right bottom,
                            rgba(255, 255, 255, 0.7),
                            rgba(255, 255, 255, 0.3));
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }

                .img {
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    left: 0;
                    bottom: -50px;
                    /* border: 1px solid black; */
                    /* background: conic-gradient(from var(--angle), #ff2770, transparent, transparent, #057485, transparent, transparent, #ff2770);
                    animation: rotate 5s linear infinite; */

                    padding: 3px;

                    img {
                        background: linear-gradient(to right bottom,
                                rgba(255, 255, 255, 0.7),
                                rgba(255, 255, 255, 0.3));
                        border: 1px solid white;
                        width: 100%;
                        height: 100%;
                        padding: 1px;
                        border-radius: 50%;
                    }
                }
            }

        }

        .profiledeatil {
            height: 370px;
            /* border: 1px solid red; */
            grid-column: span 5;
        }

        .social {
            min-height: 340px;
            grid-column: span 5;

            .link {
                padding: 0px 10px;
                height: 55px;
                margin: 8px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 5px;


                & span:nth-child(1) {
                    width: 28%;
                    display: inline-block;
                    /* border: 1px solid red; */
                }

                span:nth-child(2) {
                    width: 65%;
                    display: inline-block;
                    /* border: 1px solid red; */
                }

                span:nth-child(3) {
                    width: 25px;
                    cursor: pointer;
                    height: 25px;
                    display: inline-block;
                    /* border: 1px solid red; */
                }
            }
        }

        .privacy {
            height: 340px;
            grid-column: span 3;
            /* border: 1px solid red; */
        }

        .membership {
            height: 340px;
            grid-column: span 4;
            /* border: 1px solid red; */

            h2 {
                margin-bottom: 15px;
            }

            p {
                margin: 5px 0px;
                line-height: 25px;

                & span:nth-child(1) {
                    display: inline-block;
                    font-weight: 700;
                    font-size: 18px;
                    width: 130px;
                    letter-spacing: 0.4px;
                }

                & span:nth-child(2) {
                    font-weight: 700;
                }

                & span:nth-child(3) {
                    margin-left: 10px;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0.2px;
                }

                .status {
                    text-transform: capitalize;
                    padding: 2px 25px;
                    border-radius: 50px;
                }

                .status.active {
                    color: rgb(1, 59, 1);
                    background-color: rgba(52, 233, 52, 0.712);
                }

                .status.expired {
                    color: rgb(158, 4, 4);
                    background-color: rgba(184, 111, 89, 0.411);
                }
            }
        }

        .passchange {
            height: 340px;
            grid-column: span 4;

            h2 {
                margin-bottom: 20px;
            }

            .half {
                margin-bottom: 20px;
            }
        }
    }

    button {
        padding: 5px 14px;
        letter-spacing: .5px;
    }
}

@media only screen and (max-width: 600px) {
    .profile {
        min-height: calc(100vh - var(--navheightmobile));

        .circle {
            width: 250px;
            height: 250px;
        }

        .circle1 {
            bottom: 10px;
            left: 15%;
            width: 300px;
            height: 300px;
        }

        .circle2 {
            top: 10%;
            right: 5%;
            background: linear-gradient(to top right, pink, rgb(21, 10, 233));
        }

        .menu {
            width: 98%;
            height: 40px;

            div {
                margin: 0px 5px;
                padding: 5px 10px;
                letter-spacing: 0.5px;

                span {
                    margin-left: 7px;
                    font-weight: 500;
                }

                i {
                    font-weight: 700;
                }
            }
        }

        .materials {
            width: 100%;
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 10px;
            padding: 0 10px;

            .glass {
                padding: 15px;
            }

            h2 {
                font-size: 1.1em;
            }

            button {
                margin-top: 20px;
            }

            .input {
                margin-top: 8px;

                .half {
                    margin-top: 20px;
                    width: 100%;
                }

                .full {
                    margin-top: 20px;
                }
            }

            .profilepic {
                height: max-content;
                grid-column: span 8;
                width: 100%;
                margin: 0 auto;

                .img {
                    margin: 10px 0px;
                    width: 130px;
                    height: 130px;
                }
            }

            .profiledeatil {
                height: max-content;
                grid-column: span 8;
            }

            .privacy {
                height: max-content;
                grid-column: span 8;
            }

            .social {
                height: max-content;
                grid-column: span 8;

                .link {
                    background: rgba(0, 0, 0, .08);
                    background: linear-gradient(to right bottom,
                            rgba(255, 255, 255, 0.5),
                            rgba(255, 255, 255, 0.2));
                    padding: 10px;
                    height: min-content;
                    margin: 8px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 5px;

                    & span:nth-child(1) {
                        width: 98%;
                        margin-bottom: 12px;
                    }

                    span:nth-child(2) {
                        width: 90%;
                    }

                    span:nth-child(3) {
                        width: 25px;
                        cursor: pointer;
                        height: 25px;
                    }
                }
            }

            .membership {
                height: max-content;
                grid-column: span 8;

                h2 {
                    margin-bottom: 15px;
                }

                p {
                    margin: 5px 0px;
                    line-height: 26px;

                    & span:nth-child(1) {
                        display: inline-block;
                        font-weight: 700;
                        font-size: 18px;
                        width: 130px;
                        letter-spacing: 0.4px;
                    }

                    & span:nth-child(2) {
                        font-weight: 700;
                    }

                    & span:nth-child(3) {
                        margin-left: 10px;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.2px;
                    }
                }
            }

            .passchange {
                height: max-content;
                grid-column: span 8;

                h2 {
                    margin-bottom: 20px;
                }

                .half {
                    margin-bottom: 20px;
                }
            }
        }
    }
}