@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.home {
    width: 100%;
    min-height: 100%;
    position: relative;

    & section {
        position: relative;
        width: 100%;
        min-height: calc(100vh - 70px);
    }

    .section1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        min-height: calc(100vh - 70px);
        position: relative;

        & .left-content {
            width: 600px;
            height: 100%;
            padding: 40px 0;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* border: 1px solid red; */
            margin-left: 10px;

            & h2 {
                font-size: 1.9em;
                margin-bottom: 40px;

                & span {
                    letter-spacing: 1px;
                    font-size: 1.4em;
                    font-family: "Permanent Marker", cursive;
                }
            }

            h3 {
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 30px;
                font-size: 1em;
            }

            .links {
                /* border: 1px solid red; */
                padding: 5px 0px;


                & .navlink {
                    text-decoration: none;
                    margin-right: 20px;
                    padding: 5px 10px;
                    cursor: pointer;
                    border-radius: 90px;
                    background: white;
                    font-weight: 700;
                    color: var(--primarycolor);
                }

                .navlink:nth-child(2) {
                    background: var(--primarycolor);
                    color: white;
                    border: 1px solid white;
                }
            }
        }

        .image {
            width: calc(100% - 620px);
            height: 100vh;
            filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 1));
            position: fixed;
            right: 0;
            bottom: 0;
            /* border: 3px solid blue; */

            & img {
                transform: translateY(15px);
                width: 100%;
            }
        }
    }


    .section2 {
        text-align: center;
        background: white;
        color: #212529;
        padding: 20px;

        & h1 {
            font-size: 2em;
            color: #212529;
        }

        .cards {
            width: 100%;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(4, 1fr);
            /* align-items: center; */
            gap: 2em;

            & .card {
                width: 270px;
                height: 230px;
                /* border: 1px solid red; */
                padding-top: 10px;

                & img {
                    width: 80px;
                }

                .title {
                    font-size: 1.6em;
                    font-weight: 600;
                    margin-bottom: 5px;
                    color: #17191a;
                }

                .desc {
                    color: #212529;
                }
            }
        }

    }

    .section3,
    .section4,
    .section5,
    .section6 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        min-height: 400px;
        padding: 20px 0px;
        color: white;
        background: var(--primarycolor);
        position: relative;

        & .left {
            width: 500px;
            /* border: 1px solid red; */
            display: flex;
            justify-content: center;

            & .img {
                width: 400px;
                padding: 10px;
                /* border: 1px solid red; */

                & img {
                    width: 100%;
                }
            }
        }

        .right {
            width: 600px;
            padding: 0 10px;
            /* border: 1px solid red; */

            & h3 {
                font-size: 3em;
                font-weight: 500;
                margin-bottom: 10px;
            }

            h4 {
                font-weight: 400;
                margin-bottom: 10px;
            }

            p {
                /* border: 1px solid red; */
                margin-bottom: 5px;
                display: flex;

                & img {
                    border: 1px solid white;
                    border-radius: 50%;
                    width: 20px;
                    margin-right: 7px;
                }
            }
        }
    }
    .section3, .section5{

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 80px;
            /* border: 5px solid red; */
            top: -79px;
            background-color: var(--primarycolor);
            left: 0;
            clip-path: polygon(100% 100%, 0% 100% , 0.00% 90.00%, 2.00% 89.73%, 4.00% 88.95%, 6.00% 87.66%, 8.00% 85.93%, 10.00% 83.82%, 12.00% 81.39%, 14.00% 78.73%, 16.00% 75.94%, 18.00% 73.12%, 20.00% 70.36%, 22.00% 67.77%, 24.00% 65.44%, 26.00% 63.44%, 28.00% 61.86%, 30.00% 60.73%, 32.00% 60.12%, 34.00% 60.03%, 36.00% 60.47%, 38.00% 61.43%, 40.00% 62.86%, 42.00% 64.73%, 44.00% 66.96%, 46.00% 69.48%, 48.00% 72.19%, 50.00% 75.00%, 52.00% 77.81%, 54.00% 80.52%, 56.00% 83.04%, 58.00% 85.27%, 60.00% 87.14%, 62.00% 88.57%, 64.00% 89.53%, 66.00% 89.97%, 68.00% 89.88%, 70.00% 89.27%, 72.00% 88.14%, 74.00% 86.56%, 76.00% 84.56%, 78.00% 82.23%, 80.00% 79.64%, 82.00% 76.88%, 84.00% 74.06%, 86.00% 71.27%, 88.00% 68.61%, 90.00% 66.18%, 92.00% 64.07%, 94.00% 62.34%, 96.00% 61.05%, 98.00% 60.27%, 100.00% 60.00%);
          }
    }
    .section2, .section4, .section6{

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 40px;
            /* border: 1px solid red; */
            top: -39px;
            background-color: white;
            left: 0;
            clip-path: polygon(100% 100%, 0% 100% , 0.00% 90.00%, 2.00% 89.73%, 4.00% 88.95%, 6.00% 87.66%, 8.00% 85.93%, 10.00% 83.82%, 12.00% 81.39%, 14.00% 78.73%, 16.00% 75.94%, 18.00% 73.12%, 20.00% 70.36%, 22.00% 67.77%, 24.00% 65.44%, 26.00% 63.44%, 28.00% 61.86%, 30.00% 60.73%, 32.00% 60.12%, 34.00% 60.03%, 36.00% 60.47%, 38.00% 61.43%, 40.00% 62.86%, 42.00% 64.73%, 44.00% 66.96%, 46.00% 69.48%, 48.00% 72.19%, 50.00% 75.00%, 52.00% 77.81%, 54.00% 80.52%, 56.00% 83.04%, 58.00% 85.27%, 60.00% 87.14%, 62.00% 88.57%, 64.00% 89.53%, 66.00% 89.97%, 68.00% 89.88%, 70.00% 89.27%, 72.00% 88.14%, 74.00% 86.56%, 76.00% 84.56%, 78.00% 82.23%, 80.00% 79.64%, 82.00% 76.88%, 84.00% 74.06%, 86.00% 71.27%, 88.00% 68.61%, 90.00% 66.18%, 92.00% 64.07%, 94.00% 62.34%, 96.00% 61.05%, 98.00% 60.27%, 100.00% 60.00%);
         }
    }

    .section4,
    .section6 {
        background: white;
        color: #17191a;
    }

    .section6 .left .img {
        width: 500px;
    }
}

@media only screen and (max-width: 800px) {
    .home {

        .section2 {
            padding: 7px;

            & h1 {
                font-size: 1.5em;
            }

            .cards {
                grid-template-columns: repeat(3, 1fr);
                justify-content: center;
                align-items: center;
                gap: 0.6em;

                & .card {
                    width: 230px;

                    & img {
                        width: 80px;
                    }

                    .title {
                        font-size: 1.4em;
                    }

                    .desc {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .home {

        & .section1 {
            & .left-content {
                padding: 10px 5px;
                margin: 0;
                width: 100%;
                /* background: rgba(0, 0, 0, .3); */

                & h2 {
                    font-size: 1.4em;
                    margin-bottom: 10px;

                    & span {
                        font-size: 1.0em;
                    }
                }

                h3 {
                    font-size: 1em;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .image {
                width: 100%;
                position: relative;
                display: flex;
                height: 100%;
                justify-content: end;
                /* transform: translateY(-200px); */

                & img {
                    width: 100%;
                    transform: translateY(15px);
                }
            }
        }

        .section2 {
            padding: 7px;

            & h1 {
                font-size: 1.3em;
            }

            .cards {
                grid-template-columns: repeat(2, 1fr);
                justify-content: center;
                gap: 0.3em;

                & .card {
                    width: 200px;
                    /* border: 1px solid red; */

                    & img {
                        width: 70px;
                    }

                    .title {
                        font-size: 1.3em;
                    }

                    .desc {
                        font-size: 12px;
                        color: #212529;
                    }
                }
            }
        }

        .section3,
        .section4,
        .section5,
        .section6 {
            align-items: center;
            justify-content: center;
            padding: 15px 0px;
            /* border: 1px solid red; */

            & .left {
                width: 98%;
                display: flex;
                justify-content: center;

                & .img {
                    width: 400px;
                    padding: 10px;

                    & img {
                        width: 100%;
                        border: 1px solid grey;
                        border-radius: 10px;
                    }
                }
            }

            .right {
                width: 98%;

                & h3 {
                    text-align: center;
                    font-size: 1.7em;
                    border: 1px solid red;
                }

                h4 {
                    text-align: center;
                    font-size: 0.92em;
                }

                p {
                    font-size: 13px;
                }
            }
        }
        .section4,
        .section6 {
            background: white;
            color: #17191a;
        }
        .section3, .section5{

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 40px;
                /* border: 3px solid red; */
                top: -39px;
                background-color: var(--primarycolor);
                left: 0;
                clip-path: polygon(100% 100%, 0% 100% , 0.00% 90.00%, 2.00% 89.73%, 4.00% 88.95%, 6.00% 87.66%, 8.00% 85.93%, 10.00% 83.82%, 12.00% 81.39%, 14.00% 78.73%, 16.00% 75.94%, 18.00% 73.12%, 20.00% 70.36%, 22.00% 67.77%, 24.00% 65.44%, 26.00% 63.44%, 28.00% 61.86%, 30.00% 60.73%, 32.00% 60.12%, 34.00% 60.03%, 36.00% 60.47%, 38.00% 61.43%, 40.00% 62.86%, 42.00% 64.73%, 44.00% 66.96%, 46.00% 69.48%, 48.00% 72.19%, 50.00% 75.00%, 52.00% 77.81%, 54.00% 80.52%, 56.00% 83.04%, 58.00% 85.27%, 60.00% 87.14%, 62.00% 88.57%, 64.00% 89.53%, 66.00% 89.97%, 68.00% 89.88%, 70.00% 89.27%, 72.00% 88.14%, 74.00% 86.56%, 76.00% 84.56%, 78.00% 82.23%, 80.00% 79.64%, 82.00% 76.88%, 84.00% 74.06%, 86.00% 71.27%, 88.00% 68.61%, 90.00% 66.18%, 92.00% 64.07%, 94.00% 62.34%, 96.00% 61.05%, 98.00% 60.27%, 100.00% 60.00%);
              }
        }
        .section2, .section4, .section6{
    
            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 30px;
                /* border: 2px solid red; */
                top: -29px;
                background-color: white;
                left: 0;
                clip-path: polygon(100% 100%, 0% 100% , 0.00% 90.00%, 2.00% 89.73%, 4.00% 88.95%, 6.00% 87.66%, 8.00% 85.93%, 10.00% 83.82%, 12.00% 81.39%, 14.00% 78.73%, 16.00% 75.94%, 18.00% 73.12%, 20.00% 70.36%, 22.00% 67.77%, 24.00% 65.44%, 26.00% 63.44%, 28.00% 61.86%, 30.00% 60.73%, 32.00% 60.12%, 34.00% 60.03%, 36.00% 60.47%, 38.00% 61.43%, 40.00% 62.86%, 42.00% 64.73%, 44.00% 66.96%, 46.00% 69.48%, 48.00% 72.19%, 50.00% 75.00%, 52.00% 77.81%, 54.00% 80.52%, 56.00% 83.04%, 58.00% 85.27%, 60.00% 87.14%, 62.00% 88.57%, 64.00% 89.53%, 66.00% 89.97%, 68.00% 89.88%, 70.00% 89.27%, 72.00% 88.14%, 74.00% 86.56%, 76.00% 84.56%, 78.00% 82.23%, 80.00% 79.64%, 82.00% 76.88%, 84.00% 74.06%, 86.00% 71.27%, 88.00% 68.61%, 90.00% 66.18%, 92.00% 64.07%, 94.00% 62.34%, 96.00% 61.05%, 98.00% 60.27%, 100.00% 60.00%);
             }
        }
    }

   

    
}