@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Gajraj+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Color+Emoji&display=swap');

.stats {
  width: 100%;
  overflow: auto;
  padding: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  p,
  em {
    text-align: center;
  }

  & .controls {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;


    & .conti {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .conta {
    border-radius: 20px;
    overflow: hidden;
    margin-top: 5px;
    width: 100%;
    max-width: 1280px;

    h1 {
      font-family: "Gajraj One", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    &.desktop-mode {
      width: 1280px !important;
      margin: 0 auto;
    }

    .tournlogoo {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
      background: radial-gradient(transparent, rgb(41, 39, 39));

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .conta.desktop-mode {
    width: 1280px !important;
  }

  .fragger {
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    background: url('https://res.cloudinary.com/dusxlxlvm/image/upload/v1731490264/battlefiesta/assets/themes/grey--Mu-C4ll_eo06fj_s8omhz.webp');
    background-size: cover;
    border-radius: 20px;
    padding: 20px;

    &.desktop-mode {
      width: 1280px !important;
      margin: 0 auto;
    }

    & h2 {
      text-align: center;
      color: whitesmoke;
      /* color: rgb(251, 175, 52); */
      font-size: 2.5em;
      font-family: "Caveat Brush", cursive;
      font-weight: 400;
      font-style: normal;
    }

    .boxes {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      display: flex;
      justify-content: space-around;

      & .box {
        /* width: 170px; */
        position: relative;
        /* border: 1px solid grey; */
        border-radius: 10px;
        overflow: hidden;

        svg {
          font-size: 20px;
        }

        .position {
          position: absolute;
          top: 0;
          left: 0;
          width: 65px;
          height: 20px;
          border-radius: 0 0 10px 0;
          background: -webkit-linear-gradient(45deg, rgb(255, 221, 0), rgb(251, 175, 52));
          background: yellow;
          font-size: 14px;
          text-align: center;
          font-weight: 500;
        }

        & .img {
          width: 170px;
          height: 170px;
          background: radial-gradient(#e7e9e8, #09eedb);
          background: radial-gradient(transparent, grey);
          position: relative;
          clip-path: path("M 10,25 L 60,25 A 10,10 0 0,0 70,10 L 70,10 A 10,10 0 0,1 80,0 L 160,0 A 10,10 0 0,1 170,10 L 170,240 A 10,10 0 0,1 160,250 L 10,250 A 10,10 0 0,1 0,240 L 0,30 A 10,10 0 0,1 10,25 Z");

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          span {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            line-height: 70px;
            text-align: center;
            color: whitesmoke;
            font-size: 1.1em;
            font-weight: 600;
            background: linear-gradient(to top, rgb(24, 24, 24) 25%, transparent);
          }
        }

        .below {
          font-weight: 700;
          padding: 4px 5px;
          font-size: 0.9em;
          text-transform: uppercase;
          background: -webkit-linear-gradient(45deg, rgb(255, 221, 0), rgb(251, 175, 52));
        }

        .below:nth-child(2) {
          text-align: center;
        }

        .below:nth-child(3) {
          font-size: 0.9em;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          -ms-text-overflow: ellipsis;
          -o-text-overflow: ellipsis;

          svg,
          span {
            vertical-align: middle;
            /* border: 1px solid red; */
          }
        }
      }
    }

    .table {
      width: 100%;
      /* border: 1px solid yellow; */
      display: flex;
      justify-content: space-around;
      padding: 10px;
      margin-top: 10px;

      & .tabledata {
        width: 430px;
        /* border: 1px solid yellow; */

        & div {
          width: 100%;
          background: -webkit-linear-gradient(45deg, rgb(255, 221, 0), rgb(241, 223, 61));
          background: -webkit-linear-gradient(45deg, rgb(251, 175, 52), rgb(255, 221, 0));
          margin: 7px 0px;
          padding: 2px 5px;
          border-radius: 10px 0 10px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.1em;
          font-weight: 600;

          &>span:nth-child(1) {
            display: flex;
            align-items: center;

            & span {
              margin-left: 8px;

              & img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }
            }
          }

          &>span:nth-child(2) {
            margin-right: 20px;
          }
        }

        .tablehead {
          color: yellow;
          background: linear-gradient(180deg, #030c27ab, #0b1b476e 63%, #030c27be);
          font-size: 1.4em;
          font-weight: 700;
          letter-spacing: 2px;
        }
      }
    }
  }

  .matchtable {
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    background: url('https://res.cloudinary.com/dusxlxlvm/image/upload/v1731490264/battlefiesta/assets/themes/grey--Mu-C4ll_eo06fj_s8omhz.webp');
    background-size: cover;

    &.desktop-mode {
      width: 1280px !important;
      margin: 0 auto;
    }

    & h1,
    h3 {
      color: white;
      text-align: center;
      letter-spacing: 2px;
    }

    h1 {
      font-size: 2.5em;
      font-family: "Caveat Brush", cursive;
      font-weight: 400;
      font-style: normal;
    }

    p {
      text-align: center;
      color: white;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-top: 20px;
    }

    .table {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 5px;


      & table {
        width: 70%;
        text-align: center;
        border-collapse: separate;
        border-spacing: 0px 8px;

        & thead {
          color: white;

          & tr {
            color: yellow;
            background: linear-gradient(180deg, #030c27ab, #0b1b476e 63%, #030c27be);

            & th {
              padding: 5px;
              font-size: 1.4em;
              font-weight: 700;
              letter-spacing: 2px;
            }
          }
        }

        tbody {

          & tr {
            margin: 7px 0px;
            background: -webkit-linear-gradient(right, rgb(255, 221, 0), rgb(251, 175, 52));

            & td {
              padding: 4px 10px;
              font-size: 1.1em;
              font-weight: 600;
              letter-spacing: 1px;

              & img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }
            }

            td:nth-child(1) {
              display: flex;
              align-items: center;

              & span {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }

  .contacts {
    background: url('https://res.cloudinary.com/dusxlxlvm/image/upload/v1731490264/battlefiesta/assets/themes/grey--Mu-C4ll_eo06fj_s8omhz.webp');
    background-size: cover;
    color: white;
    margin-top: 10px;
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & div:nth-child(1) {
      font-size: 2em;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 40px;
    }

    & div:nth-child(2) {
      font-size: 1.4em;
      font-weight: 500;
    }

    .links {
      width: 100%;
      height: max-content;
      display: flex;
      padding-bottom: 5px;
      flex-wrap: wrap;
      justify-content: space-around;

      & a {
        /* background: red; */
        display: flex;
        align-items: center;
        padding: 3px 8px;
        letter-spacing: 1px;
        border-radius: 5px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s;
        margin-top: 10px;
        background: rgba(0, 0, 0, 0.6);

        &:hover {
          background: white;
          color: black;
        }

        >span {
          /* border: 1px solid red; */
          margin: 0 3px;
          display: flex;
        }
      }
    }

    p {
      margin-top: 5px;
      background: rgba(0, 0, 0, 0.6);
      padding: 2px 5px;
      font-weight: 500;
    }
  }
}


@media only screen and (max-width: 600px) {
  .stats {
    min-height: calc(100vh - var(--navheightmobile));
    padding: 7px;

    & .controls {
      max-width: 100%;
      padding: 5px;
      margin-bottom: 5px;
      /* border: 1px solid red; */

      h3 {
        font-size: 0.8em;
      }

      & .conti {
        width: 32%;
        align-items: center;
      }
    }

    .conta {
      border-radius: 10px;

      .tournlogoo {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 80px;
        height: 80px;
      }
    }

    .fragger:not(.desktop-mode) {
      width: 100%;
      margin-top: 30px;
      background-size: cover;
      border-radius: 10px;
      padding: 5px;

      & h2 {
        text-align: center;
        color: whitesmoke;
        font-size: 1.7em;
      }

      .boxes {
        padding: 5px;
        margin-top: 5px;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;

        & .box {
          /* width: 150px; */
          border-radius: 5px;

          & .img {
            width: 170px;
            height: 160px;
          }

          .below {
            font-weight: 600;
            padding: 2px;
            font-size: 0.9em;
          }

          .below:nth-child(3) {
            font-size: 0.8em;
          }
        }
      }

      .table {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 5px;

        & .tabledata {
          width: 100%;
          max-width: 500px;

          .tablehead {
            font-size: 1.2em;
          }
        }
      }
    }

    .matchtable:not(.desktop-mode) {
      width: 100%;
      margin-top: 30px;
      border-radius: 10px;
      padding: 5px;

      & h1,
      h3 {
        letter-spacing: .7px;
        color: white;
        text-align: center;
      }

      .table {
        margin-top: 10px;


        & table {
          width: 100%;
          border-spacing: 0px 5px;

          & thead {

            & tr {

              & th {
                padding: 2px;
                font-size: 1em;
                letter-spacing: 1px;
              }
            }
          }

          tbody {

            & tr {

              & td {
                padding: 2px;
                font-size: .9em;
                font-weight: 600;
                letter-spacing: 0px;

                & img {
                  width: 45px;
                  height: 45px;
                }
              }

              td:nth-child(1) {
                & span {
                  margin-left: 6px;
                }
              }
            }
          }
        }
      }
    }

    .contacts {
      padding: 5px;

      & div:nth-child(1) {
        font-size: 1.6em;
        font-weight: 600;
        gap: 30px;
      }

      & div:nth-child(2) {
        font-size: 1.2em;
        font-weight: 500;
      }

      .links {

        & a {
          padding: 2px 6px;
          font-weight: 500;
          margin-top: 5px;

          & span:nth-child(2) {
            font-size: 14px;
          }

          .ico {
            font-size: 18px;
          }
        }
      }

      p {
        font-size: 13px;
      }
    }
  }
}