.membershiprequest{
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    background: white;
    padding: 10px 20px;

    table{
        width: 100%;
        border-collapse:separate;
         

        thead{
            
            tr{

                th{
                   background: rgb(7, 216, 231);
                }
            }

        }
        tbody{

            tr{

               & td{
                    border: 1px solid grey;
                    text-align: center;
                    border-radius: 5px;
                    padding: 3px 2px;
                }
                & td:last-child{
                  
                    i{
                        padding: 0 5px;
                    }
                }
            }

        }
    }
  
}
.membermodal{
    width: 600px;
    height: 400px;
    border-radius: 10px;
    background: white;
    padding: 10px;

    & >div{
        display: flex;
        margin: 10px 0px;
        justify-content: space-around;
    }
}