.membershiprequest {
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    background: white;
    padding: 10px 20px;

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0px 15px;

        thead {

            tr {

                th {
                    padding: 5px 0px;
                    background: rgb(2, 54, 58);
                    color: white;
                    text-transform: capitalize;
                    letter-spacing: 0.5px;
                }
            }

        }

        tbody {

            tr {
                border-radius: 10px;
                background: #ecf0f3;
                box-shadow: 0 0 10px #fff, 5px 5px 10px #a7aaaf, -5px -5px 10px #fff;
                /* display: inline-block; */

                & td {
                    text-align: center;
                    padding: 4px 2px;
                }

                & td:last-child {

                    i {
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        margin-left: 5px;
                        cursor: pointer;
                        border-radius: 50%;
                        color: rgb(6, 93, 112);

                        &:last-child {
                            color: red;
                        }

                        &:hover {
                            background: rgba(133, 196, 192, 0.4);
                        }
                    }
                }

                .status {
                    font-weight: 700;
                    border-radius: 25px;
                    letter-spacing: 0.5px;
                    text-transform: capitalize;
                }

                .status.pending {
                    background: rgba(210, 164, 78, 0.704);
                    color: rgb(86, 56, 2);
                }

                .status.success {
                    color: rgb(1, 59, 1);
                    background-color: rgba(99, 218, 99, 0.586);
                }

                .status.rejected {
                    color: rgb(84, 5, 5);
                    background: rgba(220, 101, 101, 0.678);
                }
            }

        }
    }
    .controler{
        position: relative;
        padding: 5px 0px;

        .refreshe{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }

    .header {
        width: 100%;
        padding: 5px;
        background: rgb(2, 54, 58);
        color: white;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        border-radius: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .body {
        width: 100%;
        text-align: center;

        div {
            border-radius: 10px;
            border: 0.5px solid rgb(205, 202, 202);
            border: 0.5px solid rgb(4, 86, 145);
            margin: 10px 0px;
            display: flex;
            justify-content: space-around;
            padding: 6px 0px;
            background: #ecf0f3;
            box-shadow: 0 0 10px #fff, 5px 5px 10px #a7aaaf, -5px -5px 10px #fff;
        }
    }

    .header,
    .body {


        & span {
            display: inline-block;
            text-align: center;
            padding: 2px 0px;
        }

        & span:nth-child(1) {
            width: 50px;
            /* border: 1px solid red; */
        }

        & span:nth-child(2) {
            width: 190px;
        }

        & span:nth-child(3) {
            width: 110px;
        }

        & span:nth-child(4) {
            width: 120px;
        }

        & span:nth-child(5) {
            width: 90px;
        }

        & span:nth-child(6) {
            width: 120px;
        }

        & span:nth-child(7) {
            width: 180px;
        }

        & span:nth-child(8) {
            width: 100px;
        }

        & span:nth-child(9) {
            width: 60px;
            /* border: 1px solid red; */
            padding-left: 5px;
            display: inline-flex;
            justify-content: space-around;

            i {
                width: 25px;
                height: 25px;
                line-height: 25px;
                cursor: pointer;
                border-radius: 50%;
                color: rgb(6, 93, 112);

                &:last-child {
                    color: red;
                }

                &:hover {
                    background: rgba(133, 196, 192, 0.4);
                }
            }
        }
    }
    .status {
        font-weight: 700;
        border-radius: 25px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
    }

    .status.pending {
        background: rgba(240, 179, 65, 0.704);
        color: rgb(86, 56, 2);
    }

    .status.success {
        color: rgb(1, 59, 1);
        background-color: rgba(94, 230, 94, 0.648);
    }

    .status.rejected {
        color: rgb(84, 5, 5);
        background: rgba(239, 107, 107, 0.768);
    }

}

.membermodal {
    width: 600px;
    height: 200px;
    border-radius: 10px;
    background: white;
    padding-bottom: 10px;


    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            width: 100%;
            padding: 5px 0;
            margin-bottom: 5px;
            text-align: center;
            color: white;
            background: var(--primarycolor);
        }

        &>div {
            display: flex;
            /* width: 100%; */
            margin: 10px 0px;
            justify-content: space-around;
        }
        .btn{
            width: 100%;
        }
    }
}