.channeldashboard {
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    background: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;

    .profile {
        position: relative;
        width: 1000px;
        padding: 10px;
        border: 1px solid black;

        .coverimage {
            width: 100%;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


        .maininfo {
            position: relative;
            width: 100%;
            height: 150px;
            background: rgb(219, 213, 187);
            gap: 10px;

            .top {
                position: relative;
                width: 100%;
                height: 80px;
                border: 1px solid red;
                display: flex;
                justify-content: space-between;
                align-items: end;
                gap: 10px;

                .profileimage {
                    border: 1px solid black;
                    /* transform: translateY(-30%); */
                    margin-left: 10px;
                    display: flex;
                    align-items: end;



                    img {
                        width: 140px;
                        height: 140px;
                        border-radius: 50%;
                        border: 1px solid white;
                        object-fit: cover;
                    }

                    .names {
                        border: 1px solid black;
                        margin-left: 5px;
                        padding: 5px;

                        div {
                            color: black;
                        }

                        span {
                            color: rgb(51, 50, 50);
                            font-weight: 500;
                        }
                    }
                }

                .infoo {
                    width: 120px;
                    height: 80px;
                    border: 1px solid black;
                }
            }
        }
    }

    .more {
        width: 1000px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 30px;
        margin-top: 10px;

        h2 {
            margin-bottom: 10px;
        }

        >div {
            padding: 10px;
            border-radius: 10px;
            background: rgb(216, 216, 207);
            /* border: 1px solid black; */
        }

        .about {
            grid-column: span 4;
        }

        .socallink {
            grid-column: span 3;

            >div {
                /* outline: auto; */
                width: fit-content;
                margin: 8px 0;
                cursor: pointer;
            }
        }
    }

    .tournamentss {
        width: 1000px;
        /* height: 600px; */
        /* border: 1px solid black; */
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        justify-items: center;

        & .card {
            width: 240px;
            height: max-content;
            overflow: hidden;
            background: white;
            padding-bottom: 10px;
            border-radius: 8px;
            box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
            position: relative;
            transition: 0.2s;
            user-select: none;


            & .img {
                display: flex;
                width: 240px;
                width: 100%;
                height: 240px;
                overflow: hidden;
                background: radial-gradient(transparent, grey);
                justify-content: center;
                position: relative;


                & img {
                    width: 100%;
                    height: 100%;
                    transition: 0.3s;
                    object-fit: cover;
                }

                >span {
                    position: absolute;
                    display: inline-block;
                    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent 100%);
                    width: 100%;
                    height: 70px;
                    bottom: 0px;
                    left: 0px;
                    font-size: 1.1rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 700;
                    line-height: 110px;
                    padding-left: 10px;
                    color: white;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            h3 {
                /* border: 1px solid red; */
                font-size: 15px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .organiser,
            .time {
                margin: 7px 0px;
                padding-left: 10px;
                color: rgb(58, 56, 56);

                span {
                    font-size: 12px;
                    color: white;
                    display: inline-block;
                    text-transform: uppercase;
                    line-height: 22px;
                    padding: 0px 5px;
                    border-radius: 5px;
                    /* letter-spacing: 1px; */
                    background: var(--primarycolor);
                    float: right;
                    margin-right: 7px;
                }
            }

            .time {
                font-size: 13px;
            }

            .tournId {
                display: flex;
                align-items: center;
                font-size: 14px;
                margin-bottom: 5px;
                margin-left: 10px;

                svg {
                    margin-left: 12px;
                    transition: 0.2s;
                    cursor: pointer;
                }

                svg:hover {
                    color: rgb(3, 93, 93);
                }
            }
            .label{
                width: 100%;
                /* border: 1px solid grey; */
                padding: 2px 4px;
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                margin:  5px 0px;

                >span{
                    background: var(--primarycolor);
                    color: white;
                    padding: 0px 8px;
                    font-size: 12px;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 20px;
                }
            }

            .controller {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 5px;

                & button {
                    letter-spacing: 1px;
                    font-size: 0.8em;
                    background: black;
                }

                .status {
                    background: rgb(3, 133, 184);
                    color: white;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    line-height: 30px;
                    padding: 0px 3px;
                    font-size: 0.7em;
                }
            }
        }

        .card:hover img {
            transform: scale(1.03);
        }
    }
}