.channeldashboard {
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    background: linear-gradient(to right top, #65dfc9, #0ba8c0);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;

    .profile {
        position: relative;
        width: 1000px;
        border-radius: 10px;
        overflow: hidden;
        /* border: 1px dotted grey; */

        .coverimage {
            width: 100%;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


        .maininfo {
            position: relative;
            width: 100%;
            background: linear-gradient(to right bottom,
                    rgba(255, 255, 255, 0.5),
                    rgba(255, 255, 255, 0.2));
            gap: 10px;
            padding-bottom: 10px;

            .top {
                position: relative;
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                padding: 0 10px;

                .profileimage {
                    /* border: 1px solid black; */
                    transform: translateY(-30px);
                    display: flex;
                    align-items: end;

                    img {
                        width: 140px;
                        height: 140px;
                        border-radius: 50%;
                        border: 1px solid white;
                        object-fit: cover;
                    }

                    .names {
                        /* border: 1px solid black; */
                        margin-left: 5px;
                        padding: 5px;

                        div {
                            color: black;
                        }

                        span {
                            color: rgb(51, 50, 50);
                            font-weight: 500;
                        }
                    }
                }

                .infoo {
                    width: 140px;
                    text-align: center;
                    height: 80px;
                    padding: 5px 0;
                    /* border: 1px solid black; */

                    div {
                        color: black;
                        /* border: 1px solid grey; */
                        display: inline-flex;
                        align-items: center;
                        gap: 5px;
                        font-weight: 500;
                        color: var(--primarycolor);

                        svg {
                            font-size: 1.3em;
                        }
                    }

                    i {
                        color: rgb(83, 82, 82);
                        font-size: 0.8em;
                    }

                    p {
                        font-weight: 500;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .more {
        width: 1000px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 30px;
        margin-top: 10px;

        h2 {
            margin-bottom: 10px;
        }

        >div {
            padding: 10px;
            border-radius: 10px;
            /* border: 1px solid black; */
            background: linear-gradient(to right bottom,
                    rgba(255, 255, 255, 0.5),
                    rgba(255, 255, 255, 0.2));

        }

        .about {
            grid-column: span 4;

            div {
                width: 100%;
                /* border: 1px solid red; */
                margin: 8px 0;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;

               svg{
                font-size: 1.5em;
               }
            }
        }

        .socallink {
            grid-column: span 3;

            div {
                width: 100%;
                /* border: 1px solid red; */
                margin: 5px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    display: inline-block;
                    /* border: 1px solid red; */
                    display: flex;
                    align-items: center;
                }

                span:nth-child(1) {
                    width: 10%;
                    font-size: 1.3em;
                }

                span:nth-child(2) {
                    width: 80%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .copyicon {
                    width: 10%;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        scale: 1.1;
                        color: rgb(4, 62, 85);
                    }
                }
            }
        }

    }

    .tournamentss {
        width: 1000px;
        /* height: 600px; */
        /* border: 1px solid black; */
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        justify-items: center;

        & .card {
            width: 240px;
            height: max-content;
            overflow: hidden;
            background: white;
            padding-bottom: 10px;
            border-radius: 8px;
            box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
            position: relative;
            transition: 0.2s;
            user-select: none;


            & .img {
                display: flex;
                width: 240px;
                width: 100%;
                height: 240px;
                overflow: hidden;
                background: radial-gradient(transparent, grey);
                justify-content: center;
                position: relative;


                & img {
                    width: 100%;
                    height: 100%;
                    transition: 0.3s;
                    object-fit: cover;
                }

                >span {
                    position: absolute;
                    display: inline-block;
                    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent 100%);
                    width: 100%;
                    height: 70px;
                    bottom: 0px;
                    left: 0px;
                    font-size: 1.1rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 700;
                    line-height: 110px;
                    padding-left: 10px;
                    color: white;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            h3 {
                /* border: 1px solid red; */
                font-size: 15px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .organiser,
            .time {
                margin: 7px 0px;
                padding-left: 10px;
                color: rgb(58, 56, 56);

                span {
                    font-size: 12px;
                    color: white;
                    display: inline-block;
                    text-transform: uppercase;
                    line-height: 22px;
                    padding: 0px 5px;
                    border-radius: 5px;
                    /* letter-spacing: 1px; */
                    background: var(--primarycolor);
                    float: right;
                    margin-right: 7px;
                }
            }

            .time {
                font-size: 13px;
            }

            .tournId {
                display: flex;
                align-items: center;
                font-size: 14px;
                margin-bottom: 5px;
                margin-left: 10px;

                svg {
                    margin-left: 12px;
                    transition: 0.2s;
                    cursor: pointer;
                }

                svg:hover {
                    color: rgb(3, 93, 93);
                }
            }

            .label {
                width: 100%;
                /* border: 1px solid grey; */
                padding: 2px 4px;
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                margin: 5px 0px;

                >span {
                    background: var(--primarycolor);
                    color: white;
                    padding: 0px 8px;
                    font-size: 12px;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 20px;
                }
            }

            .controller {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 5px;

                & button {
                    letter-spacing: 1px;
                    font-size: 0.8em;
                    background: black;
                }

                .status {
                    background: rgb(3, 133, 184);
                    color: white;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    line-height: 30px;
                    padding: 0px 3px;
                    font-size: 0.7em;
                }
            }
        }

        .card:hover img {
            transform: scale(1.03);
        }
    }
}