.channeldashboard {
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    background: linear-gradient(to right top, #06816a, #0ba8c0);
    background: linear-gradient(to right top, #65dfc9, #0ba8c0);
    /* background: radial-gradient(circle at center, #0ba8c0, #025b4a); */
    /* background: radial-gradient(circle at center, #0d8891 10%, #02363a 90%); */
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    background: #e4e3e3;

    & .profile {
        position: relative;
        width: 1000px;
        border-radius: 10px;
        background: #ecf0f3;
        box-shadow: 0 0 10px #fff,
            5px 5px 10px #a7aaaf,
            -5px -5px 10px #fff;
        overflow: hidden;
        /* border: 1px dotted grey; */
        /* box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.4); */


        .coverimage {
            width: 100%;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


        .maininfo {
            position: relative;
            width: 100%;
            background: linear-gradient(to right bottom,
                    rgba(255, 255, 255, 0.7),
                    rgba(255, 255, 255, 0.3));
            gap: 10px;
            background: #ecf0f3;
            /* box-shadow:  0 -5px 5px #fff; */
            padding-bottom: 10px;

            .top {
                position: relative;
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                padding: 0 10px;

                .profileimage {
                    /* border: 1px solid black; */
                    transform: translateY(-30px);
                    display: flex;
                    align-items: end;

                    img {
                        width: 140px;
                        height: 140px;
                        border-radius: 50%;
                        border: 2px dotted grey;
                        padding: 2px;
                        object-fit: cover;
                    }

                    .names {
                        /* border: 1px solid black; */
                        margin-left: 5px;
                        padding: 5px;
                        color: rgb(27, 25, 25);

                        h2 {
                            /* border: 1px solid black; */
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            svg {
                                color: #42A5F5;
                            }
                        }



                        span {
                            color: rgb(51, 50, 50);
                            font-weight: 500;
                            font-size: 14px;
                        }

                        .address {
                            margin-top: 2px;
                            font-size: 12px;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            text-transform: capitalize;
                            /* border: 1px solid black; */
                        }
                    }
                }

                .mis {
                    width: 400px;
                    display: flex;
                    justify-content: space-around;


                    .infoo {
                        width: 140px;
                        text-align: center;
                        height: 80px;
                        padding: 5px 0;
                        /* border: 1px solid black; */

                        div {
                            /* border: 1px solid grey; */
                            display: inline-flex;
                            align-items: center;
                            gap: 5px;
                            font-weight: 500;
                            color: var(--primarycolor);

                            svg {
                                font-size: 1.3em;
                            }
                        }

                        i {
                            color: rgb(66, 65, 65);
                            font-size: 0.8em;
                        }

                        p {
                            color: rgb(27, 25, 25);
                            font-weight: 500;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .more {
        width: 1000px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 30px;
        margin-top: 20px;

        h2 {
            margin-bottom: 10px;
        }

        >div {
            padding: 10px;
            border-radius: 10px;
            background: #ecf0f3;
            /* border: 1px dotted grey; */
            box-shadow: 0 0 10px #fff,
                5px 5px 10px #a7aaaf,
                -5px -5px 10px #fff;
        }

        .about {
            grid-column: span 4;

            div {
                width: 100%;
                /* border: 1px solid red; */
                margin: 8px 0;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;

                svg {
                    font-size: 1.5em;
                }
            }
        }

        .socallink {
            grid-column: span 3;

            div {
                width: 100%;
                /* border: 1px solid red; */
                margin: 5px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    display: inline-block;
                    /* border: 1px solid red; */
                    display: flex;
                    align-items: center;
                }

                >span:nth-child(1) {
                    width: 10%;
                    font-size: 1.3em;
                }

                a {
                    text-decoration: none;
                    color: black;
                    width: 80%;
                    font-size: 15px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }


                .copyicon {
                    width: 10%;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        scale: 1.1;
                        color: rgb(4, 62, 85);
                    }
                }
            }
        }

    }

}

@media only screen and (max-width: 600px) {
    .channeldashboard {
        padding: 10px 5px;

        .profile {
            position: relative;
            width: 95vw;
            box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.3);

            .coverimage {
                width: 100%;
                height: 140px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }


            .maininfo {
                position: relative;
                width: 100%;
                gap: 10px;
                padding-bottom: 5px;

                .top {
                    position: relative;
                    width: 100%;
                    height: min-content;
                    flex-wrap: wrap;
                    padding: 0 2px;

                    .profileimage {
                        /* transform: translateY(-40px); */

                        img {
                            width: 100px;
                            height: 100px;
                        }

                        .names {
                            margin-left: 1px;
                            padding: 5px 1px;
                            /* border: 1px solid black; */

                            h2 {
                                font-size: 16px;


                            }


                            span {
                                font-size: 12px;
                            }
                        }
                    }

                    .mis {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        margin-top: -30px;


                        .infoo {
                            width: 140px;
                            text-align: center;
                            height: 80px;
                            padding: 5px 0;
                            /* border: 1px solid black; */

                            div {
                                /* border: 1px solid grey; */
                                display: inline-flex;
                                align-items: center;
                                gap: 5px;
                                font-weight: 500;
                                color: var(--primarycolor);

                                svg {
                                    font-size: 1.3em;
                                }
                            }

                            i {
                                color: rgb(83, 82, 82);
                                font-size: 0.8em;
                            }

                            p {
                                color: rgb(27, 25, 25);
                                font-weight: 500;
                                font-size: 18px;
                            }
                        }
                    }
                }

                .followsbtn {
                    position: absolute;
                    top: 8px;
                    right: 2px;

                    button {
                        font-size: 9px;
                        /* padding: 4px 9px; */

                        svg {
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        .more {
            width: 95vw;
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
            margin-top: 10px;

            .about,
            .socallink {
                font-size: 14px;
                grid-column: span 1;
            }

            >div {
                margin-top: 10px;
                box-shadow: 0 0 10px #fff,
                    5px 5px 10px #a7aaaf,
                    -5px -5px 10px #fff;
            }

            .socallink {

                div {


                    a {
                        font-size: 13px;
                    }
                }
            }
        }
     
    }
}