.payment {
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    background: #ececf0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    position: relative;

    .svg {
        position: absolute;
        z-index: 1;
        fill: var(--secondarycolor);
    }

    .btn {
        background: var(--secondarycolor);
    }

    .btn:hover {
        background: var(--thirdcolor);
    }

    .mater {
        z-index: 2;

        h1 {
            color: var(--secondarycolor);
            color: white;
            margin-top: 10px;
            font-weight: 700;
            letter-spacing: 1px;

            &:nth-child(3) {
                color: var(--secondarycolor);
            }
        }


        .cards {
            width: 1000px;
            /* border: 1px solid red; */
            height: max-content;
            padding: 20px 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card {
                cursor: pointer;
                transition: 0.3s;
                position: relative;
                text-align: center;
                border: 2px solid rgba(0, 0, 0, 0.1);
                width: 230px;
                padding: 20px 2px;
                border-radius: 7px;
                background: white;
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);


                .period {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 5px;
                    letter-spacing: 1px;
                    color: var(--secondarycolor);
                }

                .not {
                    text-decoration: line-through;
                    color: grey;
                    margin: 5px 0px;
                }

                .price {
                    font-size: 44px;
                    font-weight: 700;
                    margin: 5px 0px;
                    color: var(--secondarycolor);
                }

                .des {
                    color: #444;
                    font-weight: 700;
                    letter-spacing: 0.8px;
                    margin: 5px 0px;
                }

                .renew {
                    color: #555;
                    font-size: 13px;
                    /* margin: 5px 0px; */
                }

                span {
                    position: absolute;
                    transition: 0.3s;
                    border: 1px solid white;
                    display: inline-block;
                    background: rgb(232, 228, 228);
                    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);
                    color: #212529;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.8px;
                    width: 150px;
                    border-radius: 60px;
                    height: 25px;
                    line-height: 25px;
                    width: 70%;
                    top: -12.5px;
                    left: 50%;
                    transform: translateX(-50%);

                }
            }

            .card:hover {
                transform: scale(1.05);
                border: 2px solid var(--secondarycolor);
            }

            .card.active {
                border: 2px solid var(--secondarycolor);

                span {
                    background: var(--secondarycolor);
                    color: white;
                }
            }
        }

        .paymentgateway {
            width: 100%;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            .method {
                height: 500px;
                width: 33%;

                .card {
                    cursor: pointer;
                    width: 100%;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    padding: 0 10px;
                    padding-left: 15px;
                    height: 60px;
                    margin-bottom: 20px;
                    line-height: 60px;
                    display: flex;
                    border-radius: 5px;
                    justify-content: space-between;
                    background: white;
                    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);

                    & span:nth-child(1) {
                        font-weight: 700;
                        letter-spacing: 1px;
                        font-size: 1.1em;
                        color: #212529;
                    }

                    & span:nth-child(2) {
                        width: 60px;
                        height: 60px;

                        img {
                            width: 100%;
                        }
                    }
                }

                .card.active {
                    border: 2px solid var(--secondarycolor);
                }

                .card.disable {
                    background: rgb(232, 228, 228);
                    color: #212529;
                    cursor: not-allowed;
                }
            }

            .paymentdetail {
                /* height: 500px; */
                /* border: 1px solid blue; */
                border: 1px solid rgba(0, 0, 0, 0.1);
                width: 65%;
                border-radius: 10px;
                padding: 10px;
                background: white;
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);

                .half {
                    width: 100%;
                    /* border: 1px solid red; */
                    margin: 15px 0px;
                    display: flex;
                    justify-content: space-around;
                }

                .full {
                    width: 100%;
                    /* border: 1px solid red; */
                    padding: 5px 12px;

                    div {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin: 5px 0px;
                    }
                }

                .initial {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 5px;
                    color: var(--secondarycolor);

                    p {
                        font-size: 1.1em;
                    }
                }

                .cousuc {
                    color: green;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.4px;
                }
            }
        }
    }
}

.paymodal {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /* border: 2px solid var(--secondarycolor); */

    .left {
        width: 310px;
        /* border: 1px solid red; */
        display: grid;
        place-items: center;

        img {
            width: 100%;
        }
    }

    .right {
        width: 280px;
        height: 100%;


        form {
            padding: 10px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;

            img {
                border-radius: 50%;
                border: 1px dotted grey;
                width: 80px;
            }

            p {
                text-align: center;
                font-size: 14px;
                margin-top: 10px;
                color: green;
            }

            div {
                width: 100%;
                display: flex;
                /* border: 1px solid red; */
                justify-content: space-around;
            }
        }


    }
}

@media only screen and (max-width: 600px) {
    .payment {
        min-height: calc(100vh - var(--navheightmobile));
        padding:0px 4px 10px 4px ;
        .svg {
            height: 300px;
        }

        .btn {
            background: var(--secondarycolor);
        }

        .mater {

            h1 {
                margin-top: 5px;
                font-size: 26px;
                letter-spacing: 0.3px;
            }

            .cards {
                width: 100%;
                padding: 10px 5px;
                row-gap: 30px;
                justify-content: space-around;

                .card {
                    width: 180px;
                    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);

                    .period {
                        font-size: 18px;
                        letter-spacing: 0.5px;
                    }

                    .price {
                        font-size: 30px;
                    }
                    span{
                        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
                    }
                }
            }

            .paymentgateway {
                width: 100%;
                align-items: center;
                flex-direction: column;

                .method {
                    height: max-content;
                    width: 95%;

                    .card {
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        padding: 0 15px;
                        padding-left: 20px;
                        margin-bottom: 12px;
                    }
                }

                .paymentdetail {
                    width: 97%;
                    padding: 10px 5px;

                    h2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .paymodal {
        width: 80vw;
        height: 75vh;
        overflow: auto;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;
        align-items: center;

        .left {
            width: 95%;
            /* border: 1px solid red; */
        }

        .right {
            /* border: 1px solid red; */
            width: 97%;
            height: min-content;

            form {
                align-items: center;
                justify-content: space-around;
                flex-direction: column;

                img {
                    width: 50px;
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                .just {
                    margin: 15px 0px;
                }

                p {
                    margin-top: 0;
                    font-size: 11px;
                }
            }
        }
    }
}