* {
    --max_height: 95vh;
    --max_height_mobile: 90vh;
    --max_width: 90vw;
    --max_width_mobile: 95vw;
}


.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    inset: 0;
    /* width: 100%;
    height: 100vh; */
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modalbox {
        background: rgba(0, 0, 0, 0.6);
        max-height: var(--max_height);
        max-width: var(--max_width);
        border-radius: 5px;

        /* width */
        ::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }

        /* track (background) */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
        }

        /* thumb (scroll handle) */
        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }

        .wrapper {
            background: var(--primarycolor);
            border-radius: 5px;
            overflow: hidden;

            /* border: 3px solid red; */

            .modal-header {
                color: white;
                height: 40px;
                font-size: 18px;
                font-weight: 700;
                line-height: 40px;
                text-align: center;
                /* border: 2px solid red; */
            }

            .modal-body {
                max-height: calc(var(--max_height) - 90px);
                overflow: auto;
                background: white;
                color: rgb(60, 57, 57);
                border-radius: 20px 20px 0 0;
                padding: 10px 5px;
                padding-top: 20px;
                display: flex;
                gap: 5px;
                /* border: 1px solid red; */

                form {
                    /* border: 1px solid red; */
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
            }

            .modal-footer {
                border-top: 1px solid rgba(128, 128, 128, 0.371);
                background: white;
                color: white;
                /* height: 40px; */
                padding: 5px 5px;
                display: flex;
                justify-content: end;
                gap: 10px;
            }
        }
    }

    .modalbox.animation {
        animation: ani 0.4s ease-in-out forwards;
    }
}

@keyframes ani {
    0% {
        scale: 0;
    }

    40% {
        scale: 1.1;
    }

    60% {
        scale: 0.9;
    }

    100% {
        scale: 1;
    }
}

@media (max-width:600px) {
    .modal {

        .modalbox {
            max-height: var(--max_height_mobile);
            max-width: var(--max_width_mobile);
            border-radius: 5px;

            .wrapper {

                .modal-header {
                    height: 40px;
                    font-size: 16px;
                    line-height: 40px;
                }

                .modal-body {
                    max-height: calc(var(--max_height_mobile) - 90px);
                    border-radius: 20px 20px 0 0;
                    padding: 5px;
                }

                .modal-footer {
                    /* height: 40px; */
                    padding: 5px 5px;
                    gap: 10px;
                }
            }
        }
    }
}