@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

.nav {
    position: absolute;
    top: 0;
    /* background: #fff; */
    /* border: 3px solid red; */
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); */
    transition: 0.2s;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    /* font-family:Arial */
    header {
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;

        & .logo {
            /* border: 1px solid red; */
            padding: 0 10px;
            display: flex;
            align-items: center;
            color: white;

            & img{
                width: 60px;
            }
            .navlink {
                display: flex;
                /* border: 1px solid red; */
                align-items: end;
                /* width: 200px; */
                text-decoration: none;
            }
        }

        nav ul .navlink {

             &.active li{
                border-bottom: 1px solid white;
                background: white;
                color: var(--primarycolor);
             } 
             li {
                list-style: none;
                display: inline-block;
                text-decoration: none;
                color: white;
                margin-left: 20px;
                font-size: 15px;
                border-radius: 50px;
                padding: 4px 8px;
                border: 1px solid transparent;
                transition: .4s;
            }
        }
    }
}





@media only screen and (max-width: 600px) {

    .nav .info {
        transform: translateX(250px) scale(0.8);
    }

    .nav.narrow .info {
        transform: translateX(0px) scale(0.8);
    }

    .nav .cont span:nth-child(2) {
        font-size: 1.01em;
    }
}