@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

.nav {
    backdrop-filter: blur(10px);
    background: var(--primarycolor);
    transition: 0.2s;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    svg {
        display: none;
    }

    /* font-family:Arial */
    header {
        width: 100%;
        height: 100%;
        /* border: 5px solid red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;

        & .logo {
            /* border: 1px solid red; */
            padding: 0 10px;
            display: flex;
            align-items: center;
            color: white;

            .navlink {
                display: flex;
                /* border: 1px solid red; */
                align-items: end;
                text-decoration: none;
                display: flex;
                align-items: center;

                & img {
                    width: 60px;
                }
            }
        }

        nav ul {
            /* border: 1px solid red; */

            .navlink {

                &.active li {
                    border-bottom: 1px solid white;
                    background: white;
                    color: var(--primarycolor);
                }

                li {
                    list-style: none;
                    display: inline-block;
                    text-decoration: none;
                    color: white;
                    margin-left: 20px;
                    font-size: 15px;
                    border-radius: 50px;
                    padding: 4px 8px;
                    border: 1px solid transparent;
                    transition: .4s;
                }
            }
        }
    }
}


@media only screen and (max-width: 800px) {

    .nav {
        overflow: visible;

        svg {
            display: block;
            color: white;
            font-size: 28px;
            cursor: pointer;
        }

        & header {
            padding: 5px;

            & .logo {
                padding: 0 5px;

                & img {
                    width: 50px;
                }
            }

            nav {
                position: fixed;
                display: none;
                opacity: 0;
                width: 100%;
                top: var(--navheightmobile);
                height: calc(100vh - var(--navheightmobile));
                left: 0;
                background: var(--primarycolor);
                background: rgba(0, 0, 0, 0.4);
                backdrop-filter: blur(5px);
                transition: display 0.3s ease, opacity 0.3s ease;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px 0;
                    background: var(--primarycolor);
                    background: rgb(22, 22, 22);
                    gap: 25px;
                    border-top: 1px solid grey;

                    .navlink {

                        li {
                            /* border: 1px solid red; */
                            margin-left: 5px;
                            font-size: 18px;
                            border-radius: 50px;
                            padding: 4px 100px;
                        }
                    }
                }
            }

            nav.open {
                display: block;
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    .nav {

        & header {
            padding: 2px 5px;

            & .logo {

                .navlink {

                    img {
                        width: 50px;
                    }

                    h2 {
                        display: none;
                        font-size: 16px;
                    }
                }

            }

            nav ul {
                gap: 20px;
                padding: 15px 0;

                .navlink {

                    li {
                        margin-left: 0px;
                        font-size: 12px;
                        padding: 4px 80px;
                    }
                }
            }
        }
    }
}