.tournawrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */

    & .tournainfo{
        overflow-y: auto;
        width: 360px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        /* border: 1px solid red; */
    
        & h2{
            font-weight: 500;
            color: rgb(61, 56, 56);
            margin-left: 5px;
            border-bottom: 1px solid grey;
            text-align: center;
            letter-spacing: 1px;
        } 
        
        button{
            margin: 0 auto;
            width: 140px;
        }
    }
    .right{
        /* border: 2px solid red; */
        width: 900px;
        height: 100%;
    
        & .logos{
            width: 100%;
            height: max-content;
            border: 1px solid grey;
            border-radius: 10px;
            display: flex;
            padding: 10px;
            margin-top: 10px;
    
            & div{
                width: 50%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                
                & img{
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                    margin: 10px 0px;
                }
                h3{
                    margin: 20px 0px;
                }
            }
            .tourna_logo{
                border-left: 1px solid grey;
            }
        } 
        
    }
}
@media only screen and (max-width: 600px) {
    .tournawrapper{
        width: 100%;
        height: min-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        & .tournainfo{
            width: 100%;
            padding: 10px 0px;
        }
        .right{
            /* border: 1px solid red; */
            width: 98%;
            margin: 0 auto;
        
            & .logos{
                padding: 2px;
                margin-top: 10px;
        
                & div{
                    
                    & img{
                        width: 100px;
                        height: 100px;
                        margin: 2px 0px;
                    }
                    h3{
                        margin: 20px 0px;
                    }
                    h2{
                       font-size: 20px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                .tourna_logo{
                    border-left: 1px solid grey;
                }
            } 
            
        }
    }
}
