.membershiprequest,
.adminusers {
    width: 100%;
    background: white;
    padding: 5px 20px;
    overflow-x: hidden;

    .controler {
        position: relative;
        padding: 5px 0px;

        .refreshe {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }

    .status {
        width: 80px;
        display: inline-block;
        height: 20px;
        padding-left: 4px;
        font-weight: 500;
        border-radius: 2px 4px 4px 2px;
        border-right: 4px solid transparent;
        letter-spacing: 0.5px;
        text-transform: capitalize;
    }

    .status.pending {
        background: rgba(221, 179, 100, 0.4);
        color: rgb(86, 56, 2);
        border-right: 4px solid rgb(141, 93, 6);
    }

    .status.success {
        background-color: rgba(118, 234, 118, 0.4);
        color: rgb(1, 59, 1);
        border-right: 4px solid rgb(6, 172, 6);
    }

    .status.rejected {
        color: rgb(84, 5, 5);
        background: rgba(221, 139, 139, 0.768);
        border-right: 4px solid rgb(84, 5, 5);
    }

}

.membermodal {
    width: 600px;
    height: max-content;
    overflow: hidden;
    border-radius: 10px 10px 5px 5px;


    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--primarycolor);

        h2 {
            width: 100%;
            padding: 5px 0;
            text-align: center;
            letter-spacing: 1px;
            color: white;
        }

        .modalcontent {
            background: white;
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            padding: 20px 10px;

            &>div {
                display: flex;
                justify-content: space-around;
            }

            &>section {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }

        .btn {
            width: 100%;
        }
    }
}

.ico {
    padding: 2px 5px;
    box-sizing: content-box;
    width: 17px;
    height: 17px;
    border-radius: .2rem;
    cursor: pointer;
    transition: 0.2s;
}

.ico.editicon {
    color: var(--editicon);
    background: rgba(7, 121, 182, 0.116);

    &:hover {
        background: var(--editicon);
        color: white;
    }
}

.ico.deleteicon {
    color: var(--deleteicon);
    background: rgba(182, 7, 16, 0.116);

    &:hover {
        background: var(--deleteicon);
        color: white;
    }
}

.ico.printicon {
    color: rgb(16, 16, 149);
    background: rgba(29, 10, 198, 0.116);

    &:hover {
        background: rgb(16, 16, 149);
        color: white;
    }
}

@media only screen and (max-width: 500px) {

    .membershiprequest,
    .adminusers,
    .query {
        padding: 5px;

        .controler {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            align-items: center;

            & h2 {
                font-size: 15px;
            }

            .refreshe {
                position: relative;
                top: 0;
                right: 00px;
                transform: translateY(0%);
            }
        }

        .header {
            padding: 5px 0px;
            letter-spacing: 0.2px;
            font-weight: 500;
            font-size: 11px;
            border-radius: 2px;
        }

        .body {


            div {
                font-size: 10px;
                border-radius: 2px;
                margin: 5px 0px;
                padding: 6px 0px;
                box-shadow: 0 0 5px #fff, 5px 5px 10px #a7aaaf, -5px -5px 10px #fff;
            }
        }

        .header,
        .body {


            & span {
                display: inline-block;
                text-align: center;
                padding: 2px 0px;
            }

            & span:nth-child(1) {
                min-width: 30px;
                /* border: 1px solid red; */
            }

            & span:nth-child(2) {
                width: 190px;
                text-align: center;
            }

            & span:nth-child(3) {
                width: 110px;
            }

            & span:nth-child(4) {
                width: 120px;
            }

            & span:nth-child(5) {
                width: 90px;
            }

            & span:nth-child(6) {
                width: 120px;
            }

            & span:nth-child(7) {
                width: 180px;
            }

            & span:nth-child(8) {
                width: 100px;
            }

            & span:last-child {
                min-width: 35px;
                /* border: 1px solid red; */
                display: inline-flex;
                justify-content: space-around;
                padding: 0;

                i {
                    /* border: 1px solid red; */
                    cursor: pointer;
                    border-radius: 0%;
                    color: rgb(6, 93, 112);

                    &:last-child {
                        color: red;
                    }

                    &:hover {
                        background: rgba(133, 196, 192, 0.4);
                    }
                }
            }
        }

        .status {
            font-weight: 700;
            border-radius: 2px;
            letter-spacing: 0.5px;
            text-transform: capitalize;
        }

        .status.pending {
            background: rgba(239, 185, 86, 0.704);
            color: rgb(86, 56, 2);
        }

        .status.success {
            color: rgb(1, 59, 1);
            background-color: rgba(94, 230, 94, 0.648);
        }

        .status.rejected {
            color: rgb(84, 5, 5);
            background: rgba(221, 139, 139, 0.768);
        }

    }

    .body {
        span {
            font-size: 9px;
        }
    }

    .membermodal {
        width: 90vw !important;
        border-radius: 10px;
        background: white;


        form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                width: 100%;
                padding: 5px 0;
                margin-bottom: 5px;
                text-align: center;
                color: white;
                background: var(--primarycolor);
            }

            .btn {
                width: 100%;
            }
        }
    }
}