.footer {
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    background: url('https://res.cloudinary.com/dusxlxlvm/image/upload/v1717660918/battlefiesta/assets/icon/honeywhite_qim3oy.webp');
    background-size: cover;
    padding: 15px 8px;
    border-top: 3px solid var(--primarycolor);
    display: flex;
    user-select: none;
    flex-wrap: wrap;
    justify-content: space-between;

    & >section {
        width: 24%;
        padding: 0 5px;


        & h3 {
            /* font-size: 1em; */
            font-weight: 700;
            width: fit-content;
            margin: 8px 0px;
            border-bottom: 2px solid #212529;
        }

        ul {

            a {
                position: relative;
                text-decoration: none;
                color: #212529;
                border-radius: 5px;

                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: -5px;
                    width: 2px;
                    height: 100%;
                    visibility: hidden;
                    background: var(--primarycolor);
                }

                li {
                    width: 100%;
                    font-weight: 500;
                    list-style: none;
                    margin: 5px 0px;
                }

            }

            .navlink {
                font-weight: 500;
                list-style: none;
                margin: 5px 0px;
            }
        }

        ul a:hover::before {
            visibility: visible;
        }

        ul a:hover {
            color: var(--primarycolor);
        }

        a * {
            text-decoration: none;
            color: #212529;
            margin-left: 10px;
        }

        p {
            font-weight: 500;
        }

        section {
            width: 100%;
        }
    }

    .section1 {
        .img {
            width: 40px;
            height: 40px;
            overflow: hidden;
            margin-bottom: 5px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .section3 {

        a {
            text-decoration: none;
            color: #212529;
            font-weight: 500;
        }
    }
}

@media only screen and (max-width:600px) {
    .footer {
        padding: 5px;
        background: url('https://res.cloudinary.com/dusxlxlvm/image/upload/v1717660663/battlefiesta/assets/icon/honeywhite1_yduwma.webp');

        & section {
            margin-top: 10px;
            width: 95%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            section {
                /* flex-direction: row; */
            }

            ul {

                a {
                    &::before {
                        left: -95px;
                        width: 2px;
                        height: 100%;

                    }
                }

            }
        }

        .section1 {
            .img {
                width: 50px;
                height: 50px;
            }
        }
    }
}