.footer {
    position: relative;
    width: 100%;
    background: rgba(0,0,0,0.2);
    background: url('../../assets/honeywhite.webp');
    background-size: cover;
    padding: 15px 8px;
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & section {
        width: 24%;
        padding: 0 5px;
        

        & h3 {
            /* font-size: 1em; */
            font-weight: 700;
            width: fit-content;
            margin: 8px 0px;
            border-bottom: 2px solid #212529;
        }

        ul {
            a {
                text-decoration: none;
                color: #212529;

                li {
                    font-weight: 500;
                    list-style: none;
                    margin: 5px 0px;
                }
            }
        }
        span *{
            margin-left: 10px;
        }

        p {
            font-weight: 500;
        }
    }

    .section1 {
        .img {
            width: 40px;
            height: 40px;
            overflow: hidden;
            margin-bottom: 5px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width:600px) {
    .footer {
        padding: 5px;
        background: url('../../assets/honeywhite1.webp');
    
        & section {
            margin-top: 10px;
            width: 95%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .section1 {
            .img {
                width: 50px;
                height: 50px;
            }
        }
    }
}