.footer{
    position: relative;
    width: 100%;
    height: 60px;
    padding: 3px 10px;

    & p{
        color: white;
        text-align: center;
        line-height: 60px;
    }
}

@media only screen and (max-width:600px) {
    .footer{
        height: 80px;
    
    }
}