.query {
    width: 100%;
    padding: 10px 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */

    .all {
        width: 95%;

        .controler {
            /* border: 1px solid red; */
            position: relative;
            padding: 5px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                display: flex;
                gap: 5px;
            }
        }

        .status {
            display: inline-block;
            width: 80px;
            height: 20px;
            border-radius: 2px 4px 4px 2px;
            font-weight: 500;
            padding-left: 4px;
            border-right: 4px solid transparent;
        }

        .status.pending {
            background: rgba(221, 179, 100, 0.486);
            color: rgb(86, 56, 2);
            border-right: 4px solid rgb(86, 56, 2);
        }

        .status.done {
            background-color: rgba(118, 234, 118, 0.504);
            color: rgb(1, 59, 1);
            border-right: 4px solid rgb(1, 59, 1);
        }
    }
}

.ico {
    padding: 2px 5px;
    box-sizing: content-box;
    width: 17px;
    height: 17px;
    border-radius: .2rem;
    cursor: pointer;
    transition: 0.2s;
}

.ico.editicon {
    color: var(--editicon);
    background: rgba(7, 121, 182, 0.116);

    &:hover {
        background: var(--editicon);
        color: white;
    }
}

.ico.deleteicon {
    color: var(--deleteicon);
    background: rgba(182, 7, 16, 0.116);

    &:hover {
        background: var(--deleteicon);
        color: white;
    }
}

.ico.printicon {
    color: rgb(16, 16, 149);
    background: rgba(29, 10, 198, 0.116);

    &:hover {
        background: rgb(16, 16, 149);
        color: white;
    }
}

.membermodal {
    width: 500px;
    height: fit-content;
}


.query {
    padding: 5px;

    .controler {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        align-items: center;

        & h2 {
            font-size: 20px;
        }

        .refreshe {
            position: relative;
            top: 0;
            right: 00px;
            transform: translateY(0%);
        }
    }
}