.query {
    width: 100%;
    padding: 10px 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */

    .all {
        width: 95%;

        /* border: 1px solid red; */
        .controler {
            position: relative;
            padding: 5px 0px;

            .refreshe {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }

        .header {
            width: 100%;
            padding: 5px;
            background: rgb(2, 54, 58);
            color: white;
            text-transform: capitalize;
            letter-spacing: 0.5px;
            display: flex;
            justify-content: space-around;
            font-weight: 700;
            border-radius: 10px;
            margin-bottom: 10px;
            text-align: center;
        }

        .body {
            width: 100%;
            text-align: center;

            div {
                border-radius: 10px;
                border: 0.5px solid rgb(4, 86, 145);
                margin: 10px 0px;
                display: flex;
                justify-content: space-around;
                padding: 6px 0px;
                background: #ecf0f3;
                box-shadow: 0 0 10px #fff, 5px 5px 10px #a7aaaf, -5px -5px 10px #fff;
            }
        }

        .header,
        .body {


            & span {
                display: inline-block;
                text-align: center;
                padding: 2px 0px;
                /* border: 1px solid red; */
            }

            & span:nth-child(1) {
                width: 50px;
                /* border: 1px solid red; */
            }

            & span:nth-child(2) {
                width: 90px;
            }

            & span:nth-child(3) {
                width: 230px;
            }

            & span:nth-child(4) {
                width: 320px;
                /* border: 1px solid red; */
            }

            & span:nth-child(5) {
                width: 80px;
                /* border: 1px solid red; */
            }

            & span:nth-child(6) {
                width: 80px;
                /* border: 1px solid red; */
                padding-left: 5px;
                display: inline-flex;
                justify-content: space-around;

                i {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    cursor: pointer;
                    border-radius: 50%;
                    color: rgb(6, 93, 112);

                    &:last-child {
                        color: red;
                    }

                    &:hover {
                        background: rgba(133, 196, 192, 0.4);
                    }
                }
            }

            .status {
                border-radius: 2px 0 0 2px;
                font-weight: 500;
                border-right: 4px solid transparent;
            }

            .status.pending {
                background: rgba(221, 179, 100, 0.486);
                color: rgb(86, 56, 2);
                border-right: 4px solid rgb(86, 56, 2);
            }

            .status.done {
                background-color: rgba(118, 234, 118, 0.504);
                color: rgb(1, 59, 1);
                border-right: 4px solid rgb(1, 59, 1);
            }

        }
    }
}

.membermodal {
    width: 400px;
    height: fit-content;
}