.backup {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;

    .inner {
        width: 100%;

        .controler {
            position: relative;
            padding: 5px 0px;
            display: flex;
            justify-content: space-between;

            >div {
               display: flex;
               gap: 10px;
            }
        }

        .header {
            width: 100%;
            padding: 5px;
            background: rgb(2, 54, 58);
            color: white;
            text-transform: capitalize;
            letter-spacing: 0.5px;
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .body {
            width: 100%;
            text-align: start;

            div {
                border-radius: 10px;
                border: 0.5px solid rgb(4, 86, 145);
                margin: 10px 0px;
                display: flex;
                justify-content: space-between;
                padding: 5px 3px;
                background: #ecf0f3;
                box-shadow: 0 0 10px #fff, 5px 5px 10px #a7aaaf, -5px -5px 10px #fff;
            }
        }

        .header,
        .body {


            & span {
                display: inline-block;
                text-align: start;
                padding: 2px 0px;
                /* border: 1px solid red; */
            }

            & span:nth-child(1) {
                width: 20px;
                /* border: 1px solid red; */
            }

            & span:nth-child(2) {
                text-transform: capitalize;
                width: 120px;
                /* border: 1px solid red; */
            }

            & span:nth-child(3) {
                width: 140px;
                /* border: 1px solid red; */

            }

            & span:nth-child(4) {
                width: 250px;
                /* border: 1px solid red; */
            }

            & span:nth-child(5) {
                width: 60px;
                /* border: 1px solid red; */

            }

            & span:nth-child(6) {
                width: 60px;
                display: flex;
                gap: 15px;
                /* border: 1px solid red; */
            }

        }

    }
   
}
 .membermodal .modalcontent .cronlogs{
        width: 100% ;
        /* border:1px solid red ; */

        .status{
            padding: 2px 8px;
            background: red;
            border-radius: 12px;
            font-size: 12px;
            font-weight: 500;
        }
        .status.success{
            color: rgb(10, 73, 6);
            background: rgba(26, 231, 26, 0.282);
        }
        .status.failed{
            color: rgb(77, 8, 8);
            background: rgba(255, 0, 0, 0.282);
        }
        .status.running{
            color: rgb(7, 51, 73);
            background: rgba(12, 128, 186, 0.348);
        }
    }

@media only screen and (max-width: 500px) {
    .backup {
        padding: 0 5px;

        .inner {
            font-size: 14px;

            .controler {
                display: flex;
                justify-content: space-between;

                .refreshe {
                    position: relative;
                    top: 0%;
                    right: 0px;
                    transform: translateY(0%);
                }
            }


            .header {
                padding: 2px;
                letter-spacing: 0.1px;
                font-weight: 700;
                border-radius: 5px;
                margin-bottom: 8px;
                font-size: 12px;
            }

            .body {
                font-size: 11px;

                div {
                    border-radius: 4px;
                    margin: 5px 0px;
                    padding: 3px 0px;
                }
            }

            .header,
            .body {
             

                & span:nth-child(1) {
                    width: 20px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(2) {
                    text-transform: capitalize;
                    width: 120px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(3) {
                    width: 140px;
                    /* border: 1px solid red; */

                }

                & span:nth-child(4) {
                    width: 150px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(5) {
                    width: 60px;
                    /* border: 1px solid red; */

                }

                & span:nth-child(6) {
                    width: 60px;
                    display: flex;
                    gap: 15px;
                    /* border: 1px solid red; */
                }
            }

            .body {
                span {
                    text-align: center;
                }
            }
        }
    }
}