.backup {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;

    .inner {
        width: 100%;

        .controler {
            position: relative;
            padding: 5px 0px;

            .refreshe {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }

        .header {
            width: 100%;
            padding: 5px;
            background: rgb(2, 54, 58);
            color: white;
            text-transform: capitalize;
            letter-spacing: 0.5px;
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .body {
            width: 100%;
            text-align: start;

            div {
                border-radius: 10px;
                border: 0.5px solid rgb(4, 86, 145);
                margin: 10px 0px;
                display: flex;
                justify-content: space-between;
                padding: 5px 3px;
                background: #ecf0f3;
                box-shadow: 0 0 10px #fff, 5px 5px 10px #a7aaaf, -5px -5px 10px #fff;
            }
        }

        .header,
        .body {


            & span {
                display: inline-block;
                text-align: start;
                padding: 2px 0px;
                /* border: 1px solid red; */
            }

            & span:nth-child(1) {
                width: 20px;
                /* border: 1px solid red; */
            }

            & span:nth-child(2) {
                text-transform: capitalize;
                 width: auto;
                text-align: start;
                /* border: 1px solid red; */
            }

            & span:nth-child(3) {
                width: auto;
            }

            & span:nth-child(4) {
                width: 70px;
                
            }
            & span:nth-child(5) {
                width: 150px;
                 display: flex;
                  gap: 15px;
            }
        
        }
       
    }
}

@media only screen and (max-width: 500px) {
    .admindashboard {
        padding: 0 5px;

        .inner {
            font-size: 14px;

            .controler {
               display: flex;
               justify-content: space-between;
    
                .refreshe {
                    position: relative;
                    top: 0%;
                    right: 0px;
                    transform: translateY(0%);
                }
            }


            .header {
                padding: 2px;
                letter-spacing: 0.1px;
                font-weight: 700;
                border-radius: 5px;
                margin-bottom: 8px;
                font-size: 12px;
            }

            .body {
               font-size: 11px;

                div {
                    border-radius: 4px;
                    margin: 5px 0px;
                    padding: 3px 0px;
                }
            }

            .header,
            .body {


                & span:nth-child(1) {
                    width: 30px;
                }

                & span:nth-child(2) {
                    max-width: 80px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(3) {
                    width: 50px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(4) {
                    width: 40px;
                    /* border: 1px solid red; */
                }

                & span:nth-child(5) {
                    width: 80px;
                    /* border: 1px solid red; */
                    *{
                        transform: scale(0.9);
                    }
                }

                & span:nth-child(6) {
                    width: 80px;
                    *{
                        transform: scale(0.9);
                    }
                }
            }
            .body{
                span{
                    text-align: center;
                }
            }
        }
    }
}