.royal_grey {
    background: url('https://res.cloudinary.com/dusxlxlvm/image/upload/v1747474201/battlefiesta/assets/themes/grey_500_dzz28k.webp');
    padding: 20px 80px;

    h1,
    h2,
    h3 {
        color: whitesmoke;
        text-align: center;
        text-transform: capitalize;
        font-size: 4em;
        letter-spacing: 2px;
    }

    h2 {
        font-size: 2em;
        color: transparent;
        text-transform: uppercase;
        color: white;
        -webkit-text-stroke: 0.6px white;
    }

    h3 {
        font-size: 2.01em;

    }

    table {
        width: 100%;
        padding: 5px 10px;
        text-align: center;
        border-collapse: separate;
        border-spacing: 4px 4px;

        & thead {
            /* background: rgba(0,0,0,0.4); */
            color: white;

            & tr {

                & th {
                    padding: 5px 3px;
                    font-weight: 800;
                    font-size: 1.2em;
                    letter-spacing: 2px;
                    border-radius: 4px;
                    background: rgba(0, 0, 0, 0.6);

                    &:nth-child(1) {
                        width: 50px;
                    }

                    &:nth-child(3) {
                        width: 50px;
                    }
                }
            }
        }

        tbody {

            & tr {
                color: whitesmoke;

                & td {
                    padding: 2px 5px;
                    font-size: 1.1em;
                    font-weight: 600;
                    border-radius: 15px;
                    box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.6);

                    & img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-left: 5px;
                        margin-right: 10px;
                    }
                }

                td:nth-child(2) {
                    display: flex;
                    align-items: center;
                }

                td:nth-child(odd) {
                    background: linear-gradient(to bottom right, #4b494992, #1d1b1b);
                    color: white;
                    border: 1px solid white;
                }

                td:nth-child(even) {
                    background: rgba(255, 255, 255, 0.719);
                    border: 2px solid #222020;
                    color: #222020;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .conta:not(.desktop-mode) {
        .royal_grey {
            padding: 10px 3px;

            h1 {
                font-size: 1.4em;
                letter-spacing: 1.2px;
            }

            h2 {
                font-size: 1.1em;
                letter-spacing: 1.2px;
            }

            table {
                width: 100%;
                padding: 1px 2px;
                border-spacing: 2px 3px;

                & thead {

                    & tr {

                        & th {
                            padding: 0px 3px;
                            font-weight: 700;
                            font-size: .8em;
                            letter-spacing: .4px;
                        }
                    }
                }

                tbody {

                    & tr {

                        & td {
                            padding: 1px 3px;
                            font-size: .6em;
                            font-weight: 700;
                            border-radius: 10px;

                            & img {
                                width: 30px;
                                height: 30px;
                                margin-left: 0px;
                                margin-right: 4px;
                            }
                        }
                    }
                }

                thead th:nth-child(1),
                tbody td:nth-child(1) {
                    width: 25px;
                }

                thead th:nth-child(3),
                tbody td:nth-child(3) {
                    width: 30px;
                }

                thead th:nth-child(4),
                tbody td:nth-child(4),
                thead th:nth-child(5),
                tbody td:nth-child(5),
                thead th:nth-child(6),
                tbody td:nth-child(6),
                thead th:nth-child(7),
                tbody td:nth-child(7) {
                    padding: 0;
                    width: 40px;
                }
            }
        }
    }
}