.pointsystem {
    overflow-y: auto;
    padding: 10px 10px;
    overflow-x: hidden;
    border-right: 1px dotted grey;

    .grid {
        margin-top: 25px;
    }

    form {
        width: 500px;
    }

    .instruction {
        background: var(--primarycolor);
        color: white;
        border-radius: 5px;
        width: 500px;
        padding: 5px;
        padding-left: 15px;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .pointsystem {
        padding: 10px 5px;
        border-bottom: 1px solid #87898a;

        .instruction {
            width: 99%;
        }

        form {
            width: 99%;
        }
    }
}
