@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  color: rgb(40, 37, 37);
}

:root {
  --navheight: 60px;
  --navheightmobile: 50px;
  --primarycolor: #02363a;
  --hovercolor: #011f22;
  --secondarycolor: #02363a;
  --thirdcolor: #0d585e;
  --editicon:rgb(7, 120, 182);
  --deleteicon:rgb(220, 7, 25);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primarycolor);
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* user-select: none; */

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: grey;
    /* background-color: transparent; */
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primarycolor);
  }
}
.swal-text{
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  height: var(--navheight);
  width: 100%;
  z-index: 60;
}

.main {
  position: relative;
  min-height: calc(100vh - var(--navheight));
  width: 100%;
}


.main.loader {
  position: relative;
  max-height: calc(100vh - var(--navheight));
  overflow: hidden;
  width: 100%;
}

.preloder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #f0f0f0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;

  svg {
    /* border: 1px solid red; */
    width: 250px;
    height: 250px;
  }
}

.splbtn {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px 18px;
  color: white;
  font-size: 1.1em;
  letter-spacing: 2px;
  border-radius: 5px;
  background: rgb(40, 37, 37);
  transition: 0.2s;
}

button:disabled {
  background: grey !important;
}


input {
  color: rgb(27, 25, 25) !important;
}

.notfound {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212529;

  & div {
    width: 500px;
    border: 1px solid rgb(207, 203, 203);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    

    & .sad {
      font-size: 4em;
    }
  }
}

.navlink {
  color: white;
}

.modal {
  /* border: 3px solid red; */
}
.membermodal{
   padding: 5px;
   background-color: green;

   form{
    width: 100%;

    h2{
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      color: white;
    }
    span.modalcontent{
      background: white;
    }
   }
}

/* .bottomshadow{
  position: relative;
  overflow: visible !important;
  border-radius: 0 0 10px 10px !important;
}

.bottomshadow::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 8px;
  background: #011f22;
  bottom: -8px;
  border-radius: 0 0 8px 8px;
  left: 0;
} */


@media only screen and (max-width: 600px) {

  .nav {
    height: var(--navheightmobile);
  }

  .main {
    min-height: calc(100vh - var(--navheightmobile));
  }

  .notfound {
    & div {
      width: 95%;
      height: max-content;
    }
  }

  .preloder {
    position: fixed;
    height: 100vh;
    svg{
      width: 150px;
      height: 150px;
    }
  }
}