@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: "Times New Roman", Times, serif; */
}
input{
  color: rgb(40, 37, 37);
}
:root {
  --navheight: 70px;
  --navheightmobile:70px;
  --primarycolor: #2980b9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: radial-gradient( #f9d349 20% , #d57e12); */
  background: radial-gradient( #1abc9c 20% , #2980b9);
  position: relative;
  width: 100%;
  /* font-size: 18px; */
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  height: var(--navheight);
  left: 0;
  width: 100%;
}
.footer{

}

.main {
  position: relative;
  height: calc(100vh - var(--navheight));
  width: 100%;
  left:0;
  top: var(--navheight);
  overflow-x: hidden;
  overflow-y: auto;
  /* border: 3px solid rgb(244, 9, 48); */
  transition: 0.2s;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloder{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#f0f0f0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

button{
  border: none;
   cursor: pointer;
   outline: none;
   padding: 10px 18px;
   color: white;
   font-size: 1.2em;
   font-weight: 600;
   letter-spacing: 2px;
   border-radius: 5px;
   background: rgb(40, 37, 37);
   transition: 0.2s;
}
button:disabled{
  background: grey !important;
}
button:active,button:hover{
  background: rgb(61, 58, 58);
}
input{
  color: rgb(27, 25, 25) !important;
}
.notfound {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212529;

  & div{
      width: 500px;
      border: 1px solid rgb(207, 203, 203);
      border-radius: 10px;
      padding: 10px;
      text-align: center;

      & .sad{
          font-size: 4em;
      }
  }
}
.navlink{
  color: white;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 200px;
  }
  
  .sidebar.narrow {
    width: 0px;
  }

  .nav {
    height: var(--navheightmobile);
  }
  
  .main {
    position: absolute;
    height: calc(100vh - var(--navheightmobile));
    top: var(--navheightmobile);
    width: 100%;
    left: 0px;
  }
  .notfound {
    & div{
        width: 95%;
        height: max-content;
    }
  }
  
}