.about-us-container,
.terms-and-conditions-container,
.refund-cancellation-policy-container,
.privacy-policy-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: whitesmoke;

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    min-height: calc(100vh - var(--navheight));
  }

  h2 {
    font-size: 2.3rem;
    color: #444;
    text-align: center;
  }

  h3 {
    font-size: 1.4rem;
    color: #555;
    margin-top: 20px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #666;
    margin-bottom: 15px;
  }

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
