.Adminnavbar {
    width: 100%;
    background: white;
    height: 60px;
    border-bottom: 1px dotted grey;

    .adminnav {
        position: relative;
        width: 900px;
        width: 100%;
        height: 100%;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        /* border: 1px solid red; */


        .navlink {
            color: #212529;
            text-align: center;
            text-decoration: none;
            /* border: 1px solid grey; */
            display: flex;
            justify-content: center;

            div {
                cursor: pointer;
                padding: 5px 12px;
                letter-spacing: 0.7px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    font-weight: 500;
                }

                svg {
                    font-weight: 700;
                    font-size: 22px;
                }
            }
        }

        .navlink.active {

            div {
                background: linear-gradient(to right bottom,
                        rgba(255, 255, 255, 0.7),
                        rgba(255, 255, 255, 0.3));
                color: #0ba8c0;
            }
        }
    }
}


.ico {
    padding: 2px 5px;
    box-sizing: content-box;
    width: 17px;
    height: 17px;
    border-radius: .2rem;
    cursor: pointer;
    transition: 0.2s;
}

.ico.editicon {
    color: var(--editicon);
    background: rgba(7, 121, 182, 0.116);

    &:hover {
        background: var(--editicon);
        color: white;
    }
}

.ico.deleteicon {
    color: var(--deleteicon);
    background: rgba(182, 7, 16, 0.116);

    &:hover {
        background: var(--deleteicon);
        color: white;
    }
}

.ico.printicon {
    color: rgb(16, 16, 149);
    background: rgba(29, 10, 198, 0.116);

    &:hover {
        background: rgb(16, 16, 149);
        color: white;
    }
}

.admindashboard,
.adminmembership,
.membershiprequest,
.query,
.adminusers,
.voucherpage {
    min-height: calc(100vh - (var(--navheight) + 40px));
    background: white;
}

@media only screen and (max-width: 500px) {
    .Adminnavbar {
        width: 100%;
        background: white;
        height: 100px;
        border-bottom: 1px dotted grey;

        .adminnav {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px 10px;
            

            .navlink {

                div {
                    padding: 5px;
                    letter-spacing: 0.5px;
                    border-radius: 10px;

                    span {
                        font-size: 11px;
                    }
                    svg{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}