.Adminnavbar {
    width: 100%;
    background: white;
    height: 40px;
    border-bottom: 1px dotted grey;

    .adminnav {
        width: 900px;
        width: 100%;
        height: 100%;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;


        .navlink {
            /* flex-basis: calc(33.333% - 2px); */
            /* border: 1px solid red; */
            color: #212529;
            text-align: center;
            text-decoration: none;

            div {
                cursor: pointer;
                padding: 5px 12px;
                letter-spacing: 0.7px;
                border-radius: 10px;

                span {
                    margin-left: 7px;
                    font-weight: 500;
                }

                i {
                    font-weight: 700;
                }
            }
        }

        .navlink.active {

            div {
                background: linear-gradient(to right bottom,
                        rgba(255, 255, 255, 0.7),
                        rgba(255, 255, 255, 0.3));
                color: #0ba8c0;
            }
        }
    }
}

.admindashboard,
.adminmembership,
.membershiprequest,
.query,
.adminusers,
.voucherpage {
    min-height: calc(100vh - (var(--navheight) + 40px));
    background: white;
}

@media only screen and (max-width: 500px) {
    .Adminnavbar {
        width: 100%;
        background: white;
        height: 80px;
        border-bottom: 1px dotted grey;

        .adminnav {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px 10px;

            .navlink {

                div {
                    padding: 5px;
                    letter-spacing: 0.5px;
                    border-radius: 10px;

                    span {
                        font-size: 12px;
                    }

                }
            }
        }
    }
}