.Adminnavbar {
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    background: white;

    .adminnav {
        width: 900px;
        width: 100%;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        padding: 5px 0px;

        .navlink {
            color: #212529;
            text-decoration: none;

            div {
                margin: 0px 10px;
                /* background: #0ba8c0; */
                cursor: pointer;
                padding: 5px 12px;
                letter-spacing: 0.7px;
                border-radius: 10px;

                span {
                    margin-left: 7px;
                    font-weight: 500;
                }

                i {
                    font-weight: 700;
                }
            }
        }

        .navlink.active {

            div {
                background: linear-gradient(to right bottom,
                        rgba(255, 255, 255, 0.7),
                        rgba(255, 255, 255, 0.3));
                color: #0ba8c0;
            }
        }


    }
}