.adminusers {
    width: 100%;
    .header {
        border-left: 4px solid transparent;
        /* padding-right: 10px; */
    }

  

    .ico {
        padding: 2px 5px;
        box-sizing: content-box;
        width: 17px;
        height: 17px;
        border-radius: .2rem;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .ico.editicon {
        color: var(--editicon);
        background: rgba(7, 121, 182, 0.116);
    
        &:hover {
            background: var(--editicon);
            color: white;
        }
    }
    
    .ico.deleteicon {
        color: var(--deleteicon);
        background: rgba(182, 7, 16, 0.116);
    
        &:hover {
            background: var(--deleteicon);
            color: white;
        }
    }
    
    .ico.printicon {
        color: rgb(16, 16, 149);
        background: rgba(29, 10, 198, 0.116);
    
        &:hover {
            background: rgb(16, 16, 149);
            color: white;
        }
    }

    .body {

        .status {
            border-radius: 6px;
            border-left: 4px solid transparent;
        }

        .status.active {
            border-left-color: green;
        }

        .status.expired {
            border-left-color: red;
        }
    }

    .body,
    .header {

        & span {
            /* display: inline-block; */
            text-align: center;
            padding: 2px 0px;
        }

        & span:nth-child(1) {
            width: 40px;
        }

        & span:nth-child(2) {
            width: 180px;
            text-align: start;
        }

        & span:nth-child(3) {
            width: 110px;
        }

        & span:nth-child(4) {
            width: 280px;
            text-wrap: wrap;
        }

        & span:nth-child(5) {
            width: 110px;
        }

        & span:last-child {
            width: 90px;
            /* border: 1px solid red; */
            padding-left: 0px;
            display: inline-flex;
            justify-content: space-around;

        }
    }
}

@media only screen and (max-width: 500px) {
    .adminusers {

        .body,
        .header {
            & span:nth-child(1) {
                min-width: 20px;
                /* border: 1px solid red; */
            }

            & span:nth-child(2) {
                min-width: 40px;
                /* border: 1px solid red; */
                text-align: start;
            }

            & span:nth-child(3) {
                min-width: 60px;
                /* border: 1px solid red; */
            }

            & span:nth-child(4) {
                min-width: 130px;
                max-width: 130px;
                /* text-align: start; */
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                /* border: 1px solid red; */
            }

            & span:nth-child(5) {
                min-width: 60px;

            }

            & span:last-child {
                /* border: 1px solid red; */
                min-width: 30px;
            }

        }
    }
}