.adminusers {
    width: 100%;

    .header {
        border-left: 4px solid transparent;
       padding-right: 10px;
    }

    .body {

        .status {
            border-radius: 6px;
            border-left: 4px solid transparent;
        }

        .status.active {
            border-left-color: green;
        }

        .status.expired {
            border-left-color: red;
        }
    }

    .body,
    .header {

        & span {
            /* display: inline-block; */
            text-align: center;
            padding: 2px 0px;
        }

        & span:nth-child(1) {
            width: 40px;
        }

        & span:nth-child(2) {
            width: 180px;
            text-align: start;
        }

        & span:nth-child(3) {
            width: 110px;
        }

        & span:nth-child(4) {
            width: 280px;
            text-wrap: wrap;
        }

        & span:nth-child(5) {
            width: 110px;
        }

        & span:last-child {
            width: 60px;
            /* border: 1px solid red; */
            padding-left: 5px;
            display: inline-flex;
            justify-content: space-around;

            i {
                width: 25px;
                height: 25px;
                line-height: 25px;
                cursor: pointer;
                border-radius: 50%;
                color: rgb(6, 93, 112);

                &:last-child {
                    color: red;
                }

                &:hover {
                    background: rgba(133, 196, 192, 0.4);
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .adminusers {

        .body,
        .header {
            & span:nth-child(1) {
                min-width: 20px;
                /* border: 1px solid red; */
            }

            & span:nth-child(2) {
                min-width: 50px;
                /* border: 1px solid red; */
                text-align: start;
            }

            & span:nth-child(3) {
                min-width: 60px;
                /* border: 1px solid red; */
            }

            & span:nth-child(4) {
                min-width: 130px;
                max-width: 130px;
                /* text-align: start; */
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                /* border: 1px solid red; */
            }

            & span:nth-child(5) {
                min-width: 60px;

            }

            & span:last-child {
                /* border: 1px solid red; */
                min-width: 30px;
            }

        }
    }
}