.faq {
    position: relative;
    width: 100%;
    min-height: calc(100vh - var(--navheight));
    background: white;
    display: flex;
    justify-content: center;
    padding: 20px 0px;

    & .accord {
        height: max-content;
        width: 900px;
      h1{
        color: #212529;
        margin-bottom: 10px;
        text-align: center;
      }
        .accordian {
            /* width: 440px; */
            height: auto;
        }
        .details{
            padding: 12px 30px;
        }
    }
    .Mui-expanded{
        background: var(--primarycolor);
        border-radius: 10px;
        color: white;
    }
}

@media only screen and (max-width: 600px) {
    .faq {
        padding: 10px 0px;

        .accord {
            width: 95%;

            .accordian {
                height: auto;
            }
        }
    }
}