.tournasetting {

    .pendingList,
    .approvedList,
    .manageteams,
    .rejectedlist {
        /* border: 1px solid red; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        overflow-y: auto;
        padding-top: 10px;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: grey;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primarycolor);
        }

        & .box {
            padding: 20px;
            width: 700px;
            height: max-content;
            border: 1px solid grey;
            border-radius: 10px;

            & h2 {
                margin-bottom: 5px;
                color: rgb(64, 62, 62);
            }

            .header {

                & img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    margin-right: 20px;
                    border: .8px dotted grey;
                }

                span {
                    font-size: 1.3em;
                    line-height: 40px;
                    font-weight: 600;
                    letter-spacing: 1px;
                }
            }

            .details {
                width: 100%;

                & .teamdata {
                    width: 100%;
                    height: 200px;
                    /* border: 1px solid red; */
                    display: flex;
                    justify-content: space-between;

                    & .imageside {
                        width: 200px;
                        height: 100%;
                        /* border: 1px solid blue; */
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        & img {
                            width: 140px;
                            height: 140px;
                            object-fit: cover;
                            border-radius: 20px;
                            border: 1px solid grey;
                        }

                        .icon {
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            border-top: 1px solid grey;
                            border-bottom: 1px solid grey;
                            padding: 5px;
                            margin-top: 10px;
                        }
                    }

                    .teamside {
                        width: 360px;
                        height: 100%;
                        border-left: 1px solid grey;
                        /* margin: auto 0px; */
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        padding-left: 15px;

                        & span {
                            display: flex;
                            align-items: center;
                            /* justify-content: space-be/tween; */

                            & span:nth-child(1) {
                                display: flex;
                                align-items: center;
                                font-weight: 600;
                                width: 30px;

                                svg{
                                    font-size: 26px;
                                }
                                /* border: 1px solid red; */
                            }

                            & span:nth-child(2) {
                                margin-left: 5px;
                            }
                        }
                    }

                    a {
                        color: green;
                    }
                }

                .playerdata {
                    border: 1px solid grey;
                    border-radius: 10px;
                    padding: 5px;

                    & h2 {
                        font-size: 1.1em;
                        margin: 10px 0px;
                    }

                    div {
                        border-top: 1px dotted grey;
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 2px 8px;

                        & img {
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                            border-radius: 50%;
                        }

                        span {
                            /* border: 1px solid red; */
                            display: inline-block;
                        }

                        span:nth-child(2) {
                            margin-left: 10px;
                            width: 380px;
                            float: left;
                            line-height: 30px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        span:nth-child(3) {
                            line-height: 30px;
                            width: 170px;
                            float: right;
                            text-align: end;
                        }
                    }

                    BUTTON {
                        margin-top: 5px;
                        font-weight: 800;
                        letter-spacing: 1px;
                    }
                }
            }
        }

        .middle {
            text-align: center;
            color: rgb(56, 54, 54);

            & div {
                font-size: 2em;

                & .emoji {
                    font-size: 3em;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .tournasetting {

        .pendingList,
        .approvedList,
        .manageteams,
        .rejectedlist {

            padding-top: 10px;

            & .box {
                padding: 5px;
                width: 98%;

                .header {

                    & span {
                        font-size: 1.1em;
                        letter-spacing: .2px;
                    }
                }

                .details {
                    padding: 2px;

                    & .teamdata {

                        & .imageside {
                            width: 180px;


                            & img {
                                width: 120px;
                                height: 120px;
                            }

                            .icon {
                                padding: 5px 2px;
                                margin-top: 10px;
                            }
                        }

                        .teamside {
                            width: 320px;
                            height: 100%;
                            padding-left: 5px;

                            & span {
                                display: flex;
                                align-items: center;

                                & span:nth-child(1) {
                                    font-weight: 600;
                                    width: 20px;

                                    svg{
                                        font-size: 20px;
                                    }
                                    /* border: 1px solid red; */
                                }

                                & span:nth-child(2) {
                                    font-size: 12px;
                                    margin-left: 5px;
                                }
                            }
                        }

                        a {
                            color: green;
                        }
                    }

                    .playerdata {
                        border: 1px solid grey;
                        border-radius: 10px;
                        padding: 5px;

                        & h2 {
                            font-size: 1.1em;
                            margin: 10px 0px;
                        }

                        div {
                            border-top: 1px solid grey;
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding: 5px 0px;

                            & img {
                                width: 50px;
                                height: 50px;
                                object-fit: cover;
                                border-radius: 50%;
                                border: 1px solid grey;
                            }
                          
                            span:nth-child(2) {
                                margin-left: 5px;
                                width: 380px;
                            }
    
                            span:nth-child(3) {
                                width: 150px;
                                font-size: 13px;
                            }
                        }

                        BUTTON {
                            margin: 10px 0px;
                            font-weight: 800;
                            letter-spacing: 1px;
                        }
                    }
                }

            }

            .middle {
                text-align: center;
                color: rgb(56, 54, 54);

                & div {
                    font-size: 2em;

                    & .emoji {
                        font-size: 3em;
                    }
                }
            }
        }
    }

}